/* Reset Bootstrap */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: inherit;
  color: inherit;
}
.bitebug-btn {
  color: #555555;
  text-transform: uppercase;
  border-radius: 0px;
  border: 2px solid #ffffff;
  font-family: "futura-pt", sans-serif;
  background-color: #ffffff;
  padding: 6px 15px;
  font-weight: 500;
  font-size: 14px;
}
.bitebug-btn-default {
  border: 2px solid #202161;
  color: #202161;
}
.bitebug-btn-default:hover,
.bitebug-btn-default:focus {
  border: 2px solid #202161;
  color: #ffffff;
  background-color: #202161;
}
.bitebug-btn-danger {
  border: 2px solid #eb1233;
  color: #ffffff;
  background-color: #eb1233;
}
.bitebug-btn-danger:hover,
.bitebug-btn-danger:focus {
  border: 2px solid #eb1233;
  color: #eb1233;
  background-color: #ffffff;
}
.bitebug-btn-primary {
  border: 2px solid #202161;
  color: #ffffff;
  background-color: #202161;
}
.bitebug-btn-primary:hover,
.bitebug-btn-primary:focus {
  border: 2px solid #202161;
  color: #202161;
  background-color: #ffffff;
}
/* Bootstrap modals */
.modal-title {
  font-size: 13px;
  font-family: "montserrat", sans-serif;
}
.modal-body {
  font-family: "gotham-bok", sans-serif;
  font-size: 14px;
  line-height: 19px;
}
.navbar-right {
  margin-right: 0;
}
.panel {
  box-shadow: none;
}
.inline {
  display: inline;
}
.error-color {
  color: #eb1233;
}
#bitebug-big-container {
  position: relative;
}
#bitebug-main-container {
  position: relative;
}
#set-pin {
  display: none;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
}
#set-pin #pin-container {
  display: block;
  position: relative;
  height: 36px;
  width: 24px;
  top: 114px;
  margin-left: auto;
  margin-right: auto;
}
#map-canvas-home {
  display: block;
  height: 300px;
  width: 100%;
}
#bitebug-error-homepage {
  display: none;
  font-family: 'gotham-bok', sans-serif;
  font-size: 12px;
  margin: 15px 0 0;
  padding: 2px 10px;
}
#bitebug-error-homepage ul {
  padding: 5px 12px;
}
input.bitebug-enter-address-sidebar {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: none;
}
input.bitebug-enter-address-sidebar:focus {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: none;
}
#bitebug-error-create-account {
  font-family: 'gotham-bok', sans-serif;
  font-size: 14px;
}
#bitebug-error-create-account ul {
  padding: 5px 12px;
}
p#notfound {
  font-family: 'futura-pt', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 6px 0px;
  color: #202161;
  display: none;
  margin-top: 28px;
}
p#foundyou {
  font-family: 'futura-pt', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 6px 0px;
  color: #202161;
  display: none;
  margin-top: 28px;
}
#alert-menu-modal {
  display: none;
  font-family: 'futura-pt', sans-serif;
  font-size: 15px;
  margin-top: 14px;
  padding: 6px;
  margin-bottom: 0;
}
#success-menu-modal {
  display: none;
  font-family: 'futura-pt', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  padding: 6px;
  margin-bottom: 0;
}
.alert-menu-modal {
  display: none;
  font-family: 'futura-pt', sans-serif;
  font-size: 15px;
  margin-top: 14px;
  padding: 6px;
}
.success-menu-modal {
  display: none;
  font-family: 'futura-pt', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  padding: 6px;
}
#single-add-to-basket {
  /* position: absolute; */
}
#single-add-to-basket:hover {
  background: #eb1233;
  color: #ffffff;
  border: 2px solid #eb1233;
}
.product-actions {
  float: left;
  width: 50%;
  margin: 0;
  margin-top: 12px;
}
.bitebug-increment-box-product-quantity-single-product {
  position: relative;
  bottom: 0;
  margin-top: 8px;
}
.bitebug-button-single {
  right: auto;
  bottom: auto;
}
.btnaddcontainer {
  text-align: right;
}
.bitebug-navbar-tablet-and-mobile {
  z-index: 4;
  margin-bottom: 0;
}
#errorsmobile {
  display: none;
}
.basket-empty-msg {
  padding: 10px;
  text-align: center;
}
.basket-empty-msg h3 {
  font-family: futura-pt;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 15px;
}
.btn-basket-empty {
  background: #202161 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-family: futura-pt;
  font-size: 14px;
  padding: 5px 20px;
  text-transform: uppercase;
  width: 100%;
}
#bitebug-button-dropmenu-basket {
  background-color: #eb1233;
  border: 2px solid #eb1233;
  border-radius: 0;
  color: #ffffff;
  float: left;
  font-family: futura-pt;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  margin-right: 2%;
  text-transform: uppercase;
  width: 100%;
}
#bitebug-button-dropmenu-basket:hover {
  background: #ffffff;
  color: #eb1233;
}
.bitebug-confirm-pass-user {
  display: none;
}
.bitebug-user-details {
  margin-bottom: 15px;
  border-bottom: 2px solid #202161;
  margin-bottom: 30px;
  padding: 0 0 37px;
  margin-top: 10px;
}
#bitebug-user-details-nav {
  border-bottom: 2px solid #202161;
}
#bitebug-user-details-nav li {
  background: #e7f2ee;
}
#bitebug-user-details-nav li a {
  padding: 10px;
  color: #555555;
  cursor: pointer;
  font-family: 'futura-pt', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 0;
}
#bitebug-user-details-nav li a span.sub-title {
  text-transform: uppercase;
  font-weight: 500;
}
#bitebug-user-details-nav li a.active {
  color: #ffffff;
  background: #202161;
  border-radius: 0;
}
#bitebug-user-details-nav li a:hover,
#bitebug-user-details-nav li a:focus {
  color: #ffffff;
  background: #202161;
  border: none;
  border-radius: 0;
}
#bitebug-user-details-nav li a[disabled] {
  background: #cccccc;
  color: #555555;
  cursor: default;
}
#bitebug-user-details-nav li a[disabled]:hover,
#bitebug-user-details-nav li a[disabled]:focus {
  background: #cccccc;
  color: #555555;
  cursor: default;
}
#bitebug-user-details-nav li.active {
  color: #ffffff;
  background: #202161;
}
#bitebug-user-details-nav li.active > a {
  color: #ffffff;
  background: #202161;
  border-radius: 0;
}
#bitebug-user-details-nav li:hover {
  color: #ffffff;
  background: #202161;
}
.bitebug-checkout-tab-content {
  margin-top: 27px;
}
.checkout-subtitle {
  color: #eb1233;
  font-family: "futura-pt", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}
.checkout-log-in {
  margin-bottom: 10px;
}
.bitebug-button-basket-secure-pay[disabled] {
  background: #cccccc;
  border: 2px solid #cccccc;
  color: #ffffff;
}
.bitebug-button-basket-secure-pay[disabled]:hover {
  background: #cccccc;
  border: 2px solid #cccccc;
  color: #ffffff;
}
.bitebug-checkout-btn-container {
  text-align: right;
}
#additional-notes-driver-h3 {
  margin-top: 20px;
}
#additional-notes-driver {
  width: 100%;
  margin-bottom: 20px;
}
.bitebug-checkout-btn-next {
  padding: 5px 60px;
}
.bitebug-checkout-input-withbtn {
  width: 72%;
}
.bitebug-checkout-inputbtn > button {
  background: #202161 none repeat scroll 0 0;
  border: 2px solid #202161;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  height: 32px;
  padding: 3px 0;
  width: 100%;
}
.bitebug-checkout-inputbtn > button:hover {
  background: #ffffff;
  border: 2px solid #202161;
  color: #202161;
}
input.bitebug-input {
  background-color: #e7f2ee;
  border: medium none;
  font-family: 'gotham-bok', sans-serif;
  font-size: 12px;
  padding: 8px 10px;
}
label.bitebug-form-label {
  display: block;
  font-family: 'gotham-bok', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
  padding-top: 8px;
}
input.bitebug-input-full-width {
  width: 100%;
}
label.bitebug-form-label-float {
  float: left;
  width: 22%;
  display: block;
  font-family: 'gotham-bok', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2px;
  padding-top: 8px;
}
.bitebug-input-group-row {
  margin-bottom: 10px;
}
.bitebug-card-expiry-month {
  width: 65px;
}
.bitebug-card-expiry-year {
  width: 80px;
}
#bitebug-checkout-saved-addresses-link {
  color: #202161;
  text-decoration: underline;
}
#bitebug-checkout-saved-addresses-p {
  text-align: right;
}
#bitebug-checkout-saved-addresses {
  margin-top: 15px;
}
.bitebug-checkout-address-sigle {
  margin-top: 15px;
}
.biteug-map-home-section {
  position: relative;
}
#find-me-section {
  /* display: none; */
}
#find-me-pin {
  font-family: 'futura-pt', sans-serif;
  display: none;
  width: 314px;
  height: 56px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 72px;
  line-height: 16px;
}
#find-me-pin .find-me-pin-div {
  background: #202161;
  float: left;
  color: #fff;
  font-size: 22px;
  border: 2px solid #202161;
}
#find-me-pin .find-me-pin-div a,
#find-me-pin .find-me-pin-div a:focus {
  padding: 10px 12px;
  display: block;
  color: inherit;
}
#find-me-pin .find-me-pin-div a:hover {
  color: #202161;
  background: #fff;
}
#find-me-pin #find-me-pin-text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 1px;
  border: 2px solid #202161;
}
#find-me-pin #find-me-pin-text span,
#find-me-pin #find-me-pin-text span:focus {
  padding: 13px 26px;
  display: block;
  color: inherit;
}
#find-me-pin-icon {
  display: none;
  width: 35px;
  height: 50px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  top: 96px;
}
#find-me-pin-icon img {
  width: 100%;
  height: auto;
}
#find-me-addressbox {
  font-family: 'futura-pt', sans-serif;
  display: none;
  width: 313px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 250px;
  line-height: 16px;
  border: 1px solid #202161;
  background: #fff;
  color: #555;
  font-size: 14px;
}
#find-me-addressbox #find-me-addressbox-pencil {
  padding: 8px 10px;
  font-size: 22px;
  color: #999;
}
#find-me-addressbox #find-me-addressbox-pencil a:hover,
#find-me-addressbox #find-me-addressbox-pencil a:focus {
  color: #555;
}
#find-me-addressbox #find-me-pin-check {
  padding: 8px 10px;
  font-size: 22px;
  color: #999;
}
#find-me-addressbox #find-me-pin-check a:hover,
#find-me-addressbox #find-me-pin-check a:focus {
  color: #555;
}
#find-me-addressbox .find-me-addressbox-div {
  float: left;
  padding: 5px 10px;
  width: 40px;
}
#find-me-addressbox #find-me-addressbox-text {
  text-align: center;
  width: 230px;
}
#find-me-addressbox #find-me-addressbox-text .find-me-addressbox-text-title {
  color: #202161;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
}
#find-me-addressbox #find-me-addressbox-text .find-me-addressbox-text-content {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  font-family: 'gotham-bok', sans-serif;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}
.small-triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: #202161 transparent transparent transparent;
  /* border-style: inset; */
  -webkit-transform: rotate(360deg);
  margin: 0 auto;
}
#cannotdeliver {
  display: none;
  color: #202161;
  font-family: "futura-pt", sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  max-width: 90%;
  width: 540px;
  margin: 30px auto 0;
}
#cannotdeliver h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
#cannotdeliver-email {
  margin-top: 20px;
}
.bitebug-button-go-address {
  border: 2px solid #eb1233;
  color: #fff;
}
.bitebug-button-go-address:hover,
.bitebug-button-go-address:focus {
  background: #fff;
  color: #eb1233;
  border: 2px solid #eb1233;
}
input#enter_address,
input#enter_email_address {
  border: 2px solid #fff;
  box-shadow: none;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "gotham-bok", sans-serif;
}
input.enter_address_next {
  background: url('../images/location-icon.png') no-repeat 0 0 #ffffff;
  background-size: auto 100%;
  padding-left: 30px;
}
#bitebug-homepage-delivery-time-block-2 {
  background-color: #fff;
  display: none;
  left: 0;
  margin: 0 auto;
  max-width: 280px;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 298px;
}
#go-to-menu-btn {
  display: none;
}
#go-to-menu-btn button {
  padding: 6px 10px;
}
.bitebug-order-review {
  font-family: "gotham-bok", sans-serif;
  margin: 34px 0;
  color: #555555;
}
.bitebug-order-review-sections {
  margin-top: 12px;
  padding: 20px 0px 15px 0px;
  border-top: 1px solid #999999;
  position: relative;
}
p#bitebug-review-name {
  margin-bottom: 10px;
}
p.bitebug-review-address {
  line-height: 22px;
}
a.bitebug-edit-details {
  color: #eb1233;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 6px;
  display: block;
}
a.bitebug-edit-details:hover {
  text-decoration: none;
}
#bitebug-send-to-friend-gift {
  position: absolute;
  top: 24px;
  height: 55px;
  left: 105%;
  width: 100%;
}
#bitebug-send-gift-red-triangle {
  /* Red triangle */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27.5px 36px 27.5px 0;
  border-color: transparent #eb1233 transparent transparent;
  -webkit-transform: rotate(360deg);
}
#bitebug-send-gift-text {
  background: #eb1233;
  color: #ffffff;
  font-weight: 400;
  font-family: "montserrat", sans-serif;
  padding: 10px 18px;
  text-transform: uppercase;
  height: 100%;
}
#bitebug-send-gift-incon {
  background: #eb1233;
  color: #ffffff;
  display: block;
  height: 100%;
  font-size: 45px;
  padding: 0 14px 0px 0px;
}
#bitebug-send-to-friend-gift-mobile {
  display: none;
  margin-bottom: 14px;
}
#bitebug-send-gift-text-mobile {
  background: #eb1233;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  font-family: "montserrat", sans-serif;
  padding: 2px 2px;
  text-transform: uppercase;
  text-align: center;
}
#bitebug-send-gift-text-mobile span {
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
}
#bitebug-send-gift-text-mobile .fa {
  font-size: 30px;
  padding: 2px 0;
}
#bitebug-send-gift-red-triangle-mobile {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 18px 0px;
  border-color: #eb1233 transparent transparent transparent;
  margin: 0 auto;
}
#bitebug-send-to-friend-check {
  color: #202161;
}
#bitebug-send-to-friend-check label {
  font-family: "gotham-bok", sans-serif;
  font-weight: 600;
}
#bitebug-send-to-friend-fields input[type=text] {
  margin-top: 8px;
  float: left;
  width: 48%;
  padding: 8px;
  margin-bottom: 0;
}
#bitebug-send-to-friend-fields .input-first {
  margin-right: 4%;
}
/* Home page map stuff */
#text-write-position {
  background: #fff none repeat scroll 0 0;
  color: #555;
  display: none;
  font-family: "futura-pt", sans-serif;
  font-size: 14px;
  left: 0;
  line-height: 16px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 250px;
  width: 313px;
}
#input-write-position {
  border: 1px solid #202161;
  background-color: #ffffff;
  width: 274px;
  padding: 11px 8px;
  margin-bottom: 0;
}
#input-write-btn {
  background: #202161 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 20px;
  padding: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 38px;
  border: 2px solid #202161;
}
#input-write-btn:hover {
  background: #fff;
  color: #202161;
}
.set-time-msg {
  background: rgba(255, 255, 255, 0.7);
  color: #555;
  display: block;
  font-family: "futura-pt", sans-serif;
  font-size: 12px;
  left: 0;
  line-height: 16px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 313px;
  text-align: center;
  top: 298px;
  padding: 10px;
}
#set-time-msg-map-error {
  display: none;
}
#set-time-msg-map-error h2 {
  font-size: 12px;
  color: #eb1233;
  text-transform: uppercase;
}
#set-time-msg-map-ok {
  display: none;
}
#set-time-msg-map-ok h2 {
  font-size: 12px;
  color: #202161;
  text-transform: uppercase;
}
.bitebug-modal-generic .modal-content {
  width: 100%;
}
.bitebug-modal-generic .modal-title {
  font-family: 'montserrat', sans-serif;
  font-size: 13px;
}
.bitebug-modal-generic .bitebug-label-dashboard {
  font-size: 12px;
}
#basket-saved-places {
  display: none;
}
a#bitebug-your-saved-address-link {
  color: #eb1233;
  font-family: "gotham-bok", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 13px;
  text-decoration: underline;
}
a#bitebug-your-saved-address-link:hover {
  text-decoration: none;
}
.order-substitution,
.order-substitution-mobile {
  font-family: "gotham-bok", sans-serif;
  font-size: 10px;
  padding-right: 13px;
  margin-top: 5px;
}
.order-substitution-mobile {
  display: none;
  margin-bottom: 9px;
}
.bitebug-image-and-pop-up-container-product-single-page {
  position: relative;
  font-family: "gotham-bok", "Open Sans", sans-serif;
}
.bitebug-image-and-pop-up-container-product-single-page .bitebug-arrows-img-products {
  width: 18%;
}
.bitebug-image-and-pop-up-container-product-single-page .bitebug-text-popo-up-img-product {
  margin-top: 0;
}
.gender-check {
  font-family: "gotham-bok", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}
/* AmaranJS notifications style */
.amaran.awesome {
  color: #202161;
  font-size: 14px;
  box-shadow: 1px 1px 4px #999999;
  font-weight: 400;
  font-family: "gotham-bok", "Open Sans", sans-serif;
  background: #e7f2ee;
}
.amaran.awesome.ok .icon {
  background-color: transparent;
  color: #eb1233;
}
.amaran.awesome.ok p.bold {
  font-weight: 600;
}
/* END AmaranJS */

@media (max-width: 1345px) {
  #bitebug-send-to-friend-gift {
    height: 45px;
  }
  #bitebug-send-gift-text {
    font-size: 10px;
  }
  #bitebug-send-gift-red-triangle {
    border-width: 22.5px 11px 22.5px 0px;
  }
  #bitebug-send-gift-incon {
    font-size: 28px;
    padding: 4px 8px 0px 0px;
  }
}
@media (max-width: 1180px) {
  #bitebug-send-to-friend-gift {
    display: none;
  }
  #bitebug-send-to-friend-gift-mobile {
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  #bitebug-send-to-friend-fields input[type=text] {
    margin-top: 8px;
    float: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
  }
  #bitebug-send-to-friend-fields .input-first {
    margin-right: 0;
  }
  #bitebug-send-to-friend-check label {
    font-size: 11px;
  }
}
@media (max-width: 991px) {
  .hidden-tablet {
    display: none;
  }
  #bitebug-user-details-nav li {
    display: table-cell;
    width: 1%;
  }
  #bitebug-user-details-nav li a {
    padding: 10px 7px;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    margin-bottom: 0;
  }
  #cannotdeliver {
    font-size: 15px;
    margin: 0px auto 0;
  }
  #cannotdeliver h2 {
    font-size: 20px;
  }
  .bitebug-basket-right-side-first-row {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .product-actions {
    float: none;
    width: 100%;
  }
  .btnaddcontainer {
    text-align: left;
  }
  #single-add-to-basket {
    left: 0;
    margin-top: 8px;
  }
  #errorsmobile {
    display: block;
  }
  .bitebug-label-dashboard {
    float: none;
  }
  .bitebug-checkout-input-withbtn {
    width: 90%;
  }
  #cannotdeliver {
    font-size: 15px;
    margin: 0px auto 0;
    margin-top: -10px;
  }
  #cannotdeliver h2 {
    font-size: 20px;
  }
  .order-substitution {
    display: none;
  }
  .order-substitution-mobile {
    display: block;
  }
}

/*# sourceMappingURL=app.css.map */