/* reveal menu start */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: sans-serif;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

textarea {
	background-color: #e7f2ee;
	border: medium none;
	font-size: 12px;
	padding: 12px;
}

input[type=text], input[type=textarea], input[type=email], input[type=password] {
	background-color: #E7F2EE;
	padding: 9px 12px;
	font-size: 12px;
	border: none;
	margin-bottom: 8px;
	color: #555555;
	-webkit-appearance: none;
	border-radius: 0px;
	border-radius: 0;
}

input[type=text][disabled], input[type=textarea][disabled] {
	background-color: #f1f1f1;
	color: #555555;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: -1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

.form-control {
	transition: none;
	-webkit-transition: none;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}

/* reveal menu end */

@font-face {
    font-family: 'gotham-bok';
    src: url(../fonts/GOTHMBOK.TTF);
}

@font-face {
    font-family: 'gotham-bold';
    src: url(../fonts/GOTHMBOL.TTF);
}

@font-face {
    font-family: 'gotham-light';
    src: url(../fonts/GOTHMLIG.TTF);
}

@font-face {
    font-family: 'gotham-med';
    src: url(../fonts/GOTHMMED.TTF);
}

body {
	line-height: inherit;
}

a {
	color: inherit;
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
}

a:hover {
	margin: 0;
	text-decoration: inherit;
	color: inherit;
	outline: none;
}

a:active {
	text-decoration: none;
	outline: none;
}

a:focus {
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
	padding: 0;
}

sub, sup {
	font-size: 58%;
}

a.a-underline {
	text-decoration: underline;
}

a.a-underline:hover, a.a-underline:focus {
	text-decoration: none;
}

.bitebug-button-blue-inverted {
	border: 2px solid #202161;
	color: #202161;
	background: rgba(255, 255, 255, 0);
	text-transform: uppercase;
	padding: 8px 30px;
  	font-size: 13px;
  	font-weight: 500;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug-button-blue-inverted:hover {
	border: 2px solid #202161;
	color: #ffffff;
	background: #202161;
}

.bitebug-button-blue {
	border: 2px solid #202161;
	color: #ffffff;
	background: #202161;
	text-transform: uppercase;
	padding: 8px 30px;
  	font-size: 13px;
  	font-weight: 500;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug-button-blue:hover {
	border: 2px solid #202161;
	color: #202161;
	background: #ffffff;
}

.bitebug-menu-item {
    display: inline-block;
    margin-right: 0px;
    margin-top: 6px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'futura-pt', sans-serif;
    color: rgb(70, 71, 73);
}

.bitebug-col-header-right {
	text-align: right;
}

.bitebug-first-row-section {
}

.bitebug-second-row-section {
	background: rgba(235, 18, 51, 1);
}

.bitebug-footer {
	background: rgba(32, 33, 97, 1);
	color: #fff;
	margin-top: 20px;
}

.bitebug-third-row-section {
}

.bitebug-header-desktop {
  	margin: 0 auto;
  	padding: 6px 15px;
}

.bitebug-first-line-homepage-container {
  	height: 300px;
  	text-align: center;
  	position: absolute;
  	top: 0;
  	width: 100%;
  	background: rgba(231, 241, 238, 0.4);
  	/* background: transparent;*/
  	padding-top: 50px;
}

.bitebug-homepage-main-button {
	border: 2px solid #202161;
	color: #202161;
	background: rgba(255, 255, 255, 0);
	text-transform: uppercase;
	padding: 8px 30px;
  	font-size: 19px;
  	font-weight: bold;
  	font-family: 'futura-pt', sans-serif;
  	margin-top: 62px;
  	margin-bottom: 36px;
}

.bitebug-homepage-main-button:focus {
	outline: 0;
}

.bitebug-para-subtitle-homepage {
	font-size: 15px;
    padding-top: 22px;
    color: #202161;
    font-family: 'gotham-med', sans-serif;
    text-align: center;
}

.bitebug-input-group-first-row {
	width: 292px;
  	margin: 15px auto 0px;
}

.bitebug-delivery-msg-sidebar {
	font-size: 11px;
	font-family: 'gotham-med', sans-serif;
	margin-top: 10px;
}

#bitebug-if-delivery-ok-sidebar {
	display: none;
}

#bitebug-if-delivery-ok-sidebar {
	display: none;
}

#bitebug-if-nodelivery-sidebar {
	display: none;
}

.bitebug-input-group-first-row input {
	height: 36px;	
}

.form-control {
	border: none;
}

.form-control:focus {
	border: none;
	box-shadow: none;
}

.btn {
	padding: 7px 12px;
	border: none;
}

.bitebug-button-go-address:hover {
	background: #eb1233;
	border: none;
	box-shadow: none;
	/*padding-left: 11px;*/
}

.bitebug-button-go-address:focus {
	outline: 0;
	border: none;
	box-shadow: none;	
	background: rgba(235, 18, 51, 1);
}

.bitebug-button-go-address:active {
	outline: 0;
	border: none;
	box-shadow: none;	
	background: rgba(235, 18, 51, 1);
}

.bitebug-button-go-address:active:focus {
	background: rgba(235, 18, 51, 1);
}

.bitebug-input-group-first-row input {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.bitebug-small-divider-first-row {
	width: 40px;
	margin: 26px auto 0px;
	height: 2px;
	background: #202161;
}

.bitebug-second-row-homepage-container {
	text-align: center;
	color: #FFFFFF;
	padding-top: 44px;
	padding-bottom: 44px;
}

.bitebug-second-row-homepage-subtitle {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	font-family: 'futura-pt', sans-serif;
}

.bitebug-logo-second-row-homepage {
	margin-top: 15px;
}

.bitebug-third-row-homepage-container {
	text-align: center;
    padding-top: 32px;
    padding-bottom: 61px;
}

.bitebug-title-third-row-homepage {
  	font-family: 'futura-pt', sans-serif;
  	margin-bottom: 34px;
  	margin-top: 8px;
  	font-weight: 400;
  	font-size: 26px;
  	color: rgba(32, 33, 97, 1);
}

.bitebug-icon-col-home { 
	margin-bottom: 15px;
}

.bitebug-title-small-col-home {
	text-transform: uppercase;
	margin-bottom: 6px;
	color: #202161;
	font-size: 16px;
	font-family: 'gotham-med', sans-serif;
	line-height: 19px;
}

.bitebug-row-footer-container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.bitebug-title-footer {
	text-transform: uppercase;
	margin-bottom: 26px;
	font-size: 12px;
	font-family: 'gotham-med', sans-serif;
}

.bitebug-fa-work-in-prigress-header {
	color: #999;
	font-size: 25px;
	margin-left: 11px;
	margin-top: 18px;
}

.bitebug-fa-work-in-prigress-header-2 {
	color: #FFFFFF;
	font-size: 45px;
    margin-left: 11px;
    margin-top: 9px;
}

.bitebug-fa-work-in-prigress-header-3 {
	color: #FFFFFF;
	font-size: 25px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.bitebug-fa-work-in-prigress-header-4 {
	color: #eb1233;
	font-size: 40px;
	margin-bottom: 20px;
}

.para-info-footer {
	font-size: 12px;
	line-height: 17px;
	font-family: 'gotham-light', sans-serif;
    margin-bottom: 10px;
}

.para-info-footer-strong {
	font-size: 12px;
	font-family: 'gotham-med', sans-serif;
	margin-bottom: 5px;
}

.para-info-footer-break {
	margin-bottom: 10px;
}

input.bitebug-first-input-field-footer {
    width: 100%;
    margin-bottom: 10px;
    height: 32px;
    background: #202161;
    border: 1px solid #fff;
    padding: 0 12px;
    font-size: 12px;
    border-radius: 0px;
    color: #ffffff;
}

input.bitebug-input-field-email-foote {
	color: #ffffff;
}

.bitebug-first-input-field-footer::-moz-placeholder {
	color: #999;
	opacity: 1;
}

input.bitebug-input-field-email-footer {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #202161;
	background-color: #202161;
    border: 1px solid #fff;
    color:#FFFFFF;
	height: 32px;
    font-size: 12px;
}

.bitebug-input-field-email-footer:focus {
	border: 2px solid #fff;
}

.bitebug-button-send-email-footer {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 4px 9px 8px;
}

.bitebug-button-send-email-footer:hover {
	background: #FFFFFF;
	opacity: 0.9;
}

.bitebug-fa-chevron-footer {
	color: #202161;
	font-size: 9px;
}

input.bitebug-first-input-field-footer:focus {
	outline: 0;
	border: 2px solid #fff;
	box-shadow: none;
}

.bitebug-tweet-author {
	font-size: 12px;
  	line-height: 17px;
	font-family: 'gotham-bold', sans-serif;	
}

.bitebut-tweet-content {
	font-size: 12px;
  	line-height: 17px;
	font-family: 'gotham-light', sans-serif;
}

.bitebug-tweet-time {
	color: #999;
    font-size: 12px;
  	line-height: 17px;
    margin-bottom: 12px;
    font-family: 'gotham-light', sans-serif;
}

.bitebug-second-row-homepage-maintitle {
	font-weight: 400;
 	text-transform: uppercase;
  	font-size: 24px;
  	line-height: 28px;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug-col-center-container-home-third-row {
	max-width: 400px;
}

.bitebug-col-center-container-home-third-row {
    max-width: 250px;
    margin: 0 auto;
}

.bitebug-col-footer-small-container {
    max-width: 240px;
}

#bitebug-section-map-and-search-container {
	position: relative;
	border-top: 4px solid #E7F2EE;
}

.para-last-row-footer-copyright {
	float: right;
	/* padding-top: 6px; */
}

.para-last-row-footer-developed {
	float: right;	
	position: relative;
    top: 6px;
}

.para-last-row-footer {
	display: inline-block;
	font-size: 9px;
    font-family: 'gotham-med', sans-serif;	
}

.para-last-row-footer-first {
	padding-right: 13px;
	margin-right: 10px;
	border-right: 1px solid #fff;
}

.bitebug-last-row-footer {
	margin-bottom: 40px;
}

#bitebug-logo {
	margin: 0 auto;
	max-width: 170px;
}

.bitebug-para-col-homepage {
	font-family: 'gotham-bok', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.bitebug-button-go-address {
	padding-top: 6px;
	padding-bottom: 6px;	
	background: #eb1233;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.bitebug-logo-dog-animated {
	margin-top: 21px;
	width: 100px;
}

.bitebug-homepage-icon {
	margin: 0 auto 21px;
    height: 50px;
}

.bitebug-icon-footer-container {
	margin-bottom: 22px;
}

.bitebug-icon-footer-container > a:hover {
	opacity: 0.9;
}

.bitebug-navbar {
	border: none;
	margin-bottom: 0;
	background-color: #FFFFFF;
}

.nav>li>a {
 	position: relative;
  	display: block;
 	padding: 10px 10px;
}

.bitebug-navbar-right {
	margin-top: 5px;
}

.bitebug-navbar-left {
	margin-top: 5px;
}

.bitebug-first-row-section-product-page {
	background: #202161;
}

#bitebug-menu-item-first-item {
	padding-left: 0;
}

.bitebug-navbar-collapse {
	padding: 0;
}

.bitebug-first-row-homepage-container {
	text-align: center;
	color: #FFFFFF;
	padding: 40px 0px 40px 0px;
}

.bitebug-first-row-product-page-title-strong {
	font-weight: 400;
  	text-transform: uppercase;
  	font-size: 24px;
  	font-family: 'futura-pt', sans-serif;
  	line-height: 28px;
}

.bitebug-second-row-homepage-title-light {
	font-weight: 100;
  	text-transform: uppercase;
  	font-size: 24px;
 	line-height: 28px;
 	font-family: 'futura-pt', sans-serif;
}

.bitebug-second-row-homepage-title-light-homepage-bar {
	font-weight: 100;
  	font-size: 17px;
 	line-height: 0px;
 	font-family: 'futura-pt', sans-serif;
}

.bitebug-second-row-homepage-title-light-homepage-bar a {
	display: none;
}

.bitebug-second-row-homepage-title-small {
    font-weight: 100;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0px;
    margin-top: 12px;
    font-family: 'montserrat', sans-serif;
}

.bitebug-list-of-products-container {
	display: inline-block;
	height: 250px;
}

.bitebug-title-item-product-container {
	display: inline-block;
	vertical-align: top;
	/*width: 18%;*/
}

.bitebug-list-of-products-big-container {
	display: inline-block;
	/*width: 78%;*/
}

.bitebug-title-item-product-para {
	color: #202161;
	font-size: 23px;
  	font-weight: 400;
  	line-height: 27px;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug-single-product-title {
	font-size: 11px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'gotham-bold', sans-serif;
    /*height: 22px;*/
}

.bitebug-single-product-page {
	text-align: center;
  	font-size: 11px;
  	margin-top: 5px;
  	font-family: 'gotham-bok', sans-serif;
}

.bitebug-product-list-product-page {
	padding: 40px 0px 40px 0px;
}

.bitebug-divider-product-row {
	height: 2px;
	background: #e7f2ee;
	margin-bottom: 24px;
}

.bitebug-product-image-product-page {
	margin: 0 auto;
	width: 100%;
	outline: none;
}

.bitebug-product-container {
	margin-bottom: 20px;
}

.bitebug-image-and-pop-up-container-product {
	position: relative;
}

.bitebug-pop-up-image-product {
	position: absolute;
	bottom: 0;
	background: rgba(235, 18, 51, 1);
	color: #FFFFFF;
	width: 100%;
	padding: 5px;
	display: none;
}

.bitebug-pop-up-image-product-information {
	position: absolute;
	top: 7px;
	right: 7px;
}

.bitebug-pop-up-image-product-information > .fa {
	color: #202161;
	font-size: 18px;
}

.bitebug-fa-chevron-right-product {
	display: inline-block;
	float: right;
  	margin-top: 2px;
}

.bitebug-text-popo-up-img-product {
	display: inline-block;
	float: left;
	padding-top: 2px;
	margin-top: 3px;
}

.modal-content { 
   border: none; 
   border-radius: 0px; 
   -webkit-box-shadow: none; 
   box-shadow: none; 
   margin: 0 auto;
} 

.modal-body {
    padding: 20px;
}

.bitebug-x-icon-modal-product {
	position: absolute;
 	top: 14px;
    right: 20px;
    color: rgba(235, 18, 51, 1);
    opacity: 1;
}

.bitebug-left-side-modal-product {
	width: 33%;
	display: inline-block;
	float: left;
}

.bitebug-right-side-modal-product {
  	width: 62%;
  	display: inline-block;
  	float: right;
  	/* margin-top: 30px; */
}

.bitebug-button-modal {
	color: rgba(235, 18, 51, 1);
	text-transform: uppercase;
	border-radius: 0px;
  	border: 2px solid rgba(235, 18, 51, 1);
  	background-color: #fff;
  	margin-top: 15px;
  	padding: 5px 15px;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: 500;
  	display: block;
}

.bitebug-button-modal:hover {
	background: rgba(235, 18, 51, 1) none repeat scroll 0 0;
    color: #fff;
}

.bitebug-button-modal:focus {
	outline: 0;
}

.bitebug-title-product-modal {
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    color: #202161;
    font-family: 'futura-pt', sans-serif;
    display: inline-block;
}

.bitebug-quantity-product-modal {
	font-weight: 100;
    font-size: 23px;
    line-height: 25px;
    color: #202161;
    font-family: 'futura-pt', sans-serif;
}

.bitebug-price-product-modal {
	font-weight: 500;
    font-size: 23px;
    line-height: 25px;
    color: #202161;
    margin-bottom: 29px;
    font-family: 'futura-pt', sans-serif;
  	padding-top: 5px;
}
 
.single-product-container-section {

}

.bitebug-left-side-single-product {
	display: inline-block;
	width: 38%;
	height: 278px;
	margin-right: 2%;
  	float: left;
  	text-align: center;
}

.bitebug-right-side-single-product {
	display: inline-block;
	vertical-align: top;
	width: 60%;
	border: 2px solid #e7f2ee;
  	padding: 20px;
  	min-height: 278px;
  	position: relative;
  	float: left;
}

.single-product-container {
	margin: 60px auto;
}

.single-product-small-container {
	max-width: 600px;
	margin: 0 auto;
}

.bitebug-title-product-single {
	font-weight: 400;
    font-size: 23px;
    line-height: 29px;
    color: #202161;
    display: inline-block;
    font-family: 'futura-pt', sans-serif;
}

.bitebug-quantity-product-single {
	font-weight: 100;
    font-size: 26px;
    line-height: 29px;
    color: #202161;
    font-family: 'futura-pt', sans-serif;
}

.bitebug-price-product-single {
	font-family: 'futura-pt', sans-serif;
	font-weight: 500;
    font-size: 26px;
    line-height: 29px;
    color: #202161;
  	padding-top: 0px;	
}

.bitebug-button-single {
	color: rgba(235, 18, 51, 1);
	text-transform: uppercase;
	border-radius: 0px;
  	border: 2px solid;
  	font-family: 'futura-pt', sans-serif;
  	background-color: #fff;
  	position: absolute;
  	bottom: 20px;
  	right: 20px;
  	padding: 5px 15px;
}

.bitebug-button-single:focus {
	outline: 0;
}

.bitebug-text-description-single-product {
  	/* margin: 20px 0 40px; */
  	margin: 20px 0 0;
  	font-family: 'gotham-bok', sans-serif; 
 	color: #777;
 	line-height: 20px;
  	font-size: 14px;
}

.bitebug-row-products-list-single {
	padding: 10px 0px 40px;
}

.bitebug-title-item-product-container-single {
	display: inline-block;
	vertical-align: top;	
}

.bitebug-title-item-product-para-single {
    color: #eb1233;
    font-size: 23px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.bitebug-list-of-products-big-container-single {
	display: inline-block;
}


.bitebug-list-of-products-container-single {
	display: inline-block;
	width: 20%;
}
	
.bitebug-product-image-product-page-single {
	margin: 0 auto;
	max-height: 170px;
}

.bitebug-product-description-container-single {
	
}


.bitebug-single-product-title-single {
	font-size: 11px;
    text-align: center;
    margin-top: 10px;	
    text-transform: uppercase;
    font-family: 'gotham-bold', sans-serif;
}

.bitebug-single-product-page-single {
  	text-align: center;
  	font-size: 11px;
  	margin-top: 5px;
  	font-family: 'gotham-bok', sans-serif;
}

.bitebug-divider-below-header {
	height: 3px;
	background: #e7f2ee;
}

table > tbody > tr > .bitebug-td-basket {
	vertical-align: middle;
	padding: 10px;
}

table > tbody > tr > .bitebug-td-basket-new {
	border: 1px solid #DDDDDD;
}

table > thead > tr > .bitebug-th-basket {
	vertical-align: middle;
    padding: 10px;
    font-family: 'gotham-bold', sans-serif;
    font-weight: 600;
}

table > thead > tr > .bitebug-th-basket-new {
    border: 1px solid;
}

table > tfoot > tr > .bitebug-tf-basket {
	vertical-align: middle;
  	padding: 10px;
  	font-size: 16px;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: bold;
  	text-transform: uppercase;
}

table > tfoot > tr > .bitebug-tf-basket-new {
	/*border-left: 1px solid #ddd;*/
}

#bitebug-first-item-th {
	width: 130px;
}

.bitebug-first-row-basket {
	margin-top: 25px;
}

.bitebug-basket-right-side-first-row {
	padding: 0 37px;
}

.bitebug-main-title-basket {
	font-size: 26px;
  	font-weight: 400;
  	font-family: 'futura-pt', sans-serif;
  	color: rgba(32, 33, 97, 1);
  	margin-bottom: 12px;
}

.bitebug-subtitle-basket {
	 color: #777;
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
	 margin-bottom: 20px;
}

h2.bitebug-review-basket-title {
	color: #202161;
	font-family: "montserrat",sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 14px;
}

.bitebug-single-product-description-basket {
	font-family: 'gotham-bok', sans-serif;
 	color: #555;
    font-size: 16px;
    display: inline-block;
}

.bitebug-remove-single-product-from-basket {
	font-size: 14px;
 	font-family: 'futura-pt', sans-serif;
    color: #999;
    display: inline-block;
}

.bitebug-remove-single-product-from-basket span {
	position: relative;
	bottom: 1px;
}

.bitebug-single-product-price {
	font-family: 'futura-pt', sans-serif;
  	font-size: 16px;
  	color: #555;
}

.bitebug-main-title-orders-summary {
	font-size: 25px;
    font-weight: 400;
    font-family: 'futura-pt', sans-serif;
    color: rgba(32, 33, 97, 1);
    margin-bottom: 5px;
    /* width: 260px; */
  	margin: 0 auto 30px;
}

.bitebug-summary-container {
	/* width: 260px; */
  	margin: 0 auto;
}

.bitebug-total-price {
	float: right;
}

.bitebug-total-row {
    padding: 10px 0px;
    font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	border-bottom: 1px dotted #999;
}

.bitebug-total-row-discount {
	border-top: 1px dotted #999;
	border-bottom: none;
}

.bitebug-total-row-1 { 
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
}

.bitebug-total-text {
	
}

.bitebug-total-row-2 {
	font-weight: 600;
	border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    font-family: 'gotham-bold', sans-serif;
  	text-transform: uppercase;
  	margin-bottom: 30px;
}

.bitebug-button-basket-secure-pay {
	color: #fff;
    background: rgba(235, 18, 51, 1);
    border: 2px solid rgba(235, 18, 51, 1);
    text-transform: uppercase;
    padding: 6px 10px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    width: 100%;
    font-size: 14px;
    /* margin-top: 30px; */
}

.bitebug-button-basket-secure-pay:hover {
	background: #fff;
	color: rgb(235, 18, 51);
}

.bitebug-learn-more-about-delivery {
	color: rgba(235, 18, 51, 1);
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
 	margin-top: 12px;
 	margin-bottom: 30px;
}

.bitebug-link-delivery-basket {
	text-decoration: underline;
}

.bitebug-link-delivery-basket:hover {
	text-decoration: underline;
}

.bitebug-button-basket-secure-pay:focus {
	outline: 0;
}

.bitebug-single-product-add {
	text-align: center;
  	color: rgba(235, 18, 51, 1);
  	font-family: 'futura-pt', sans-serif;
  	margin-top: 3px;
}

.bitebug-main-title-faqs {
	font-family: 'futura-pt', sans-serif;
  	color: rgba(32, 33, 97, 1);
   	font-size: 26px;
  	margin-top: 25px;
  	margin-bottom: 10px;
  	font-weight: 400;
}

.bitebug-subtitle-faqs {
	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	color: #666;
}

.bitebug-first-row-col-faqs {
	margin-bottom: 30px;
}

.bitebug-title-left-col-faqs {
	font-family: 'gotham-med', sans-serif;
  	color: rgba(32, 33, 97, 1);
  	text-transform: uppercase;
 	font-weight: 500;
 	font-size: 14px;
 	margin-bottom: 10px;
}

.bitebug-title-right-col-faqs {
	font-family: 'futura-pt', sans-serif;
  	color: rgba(32, 33, 97, 1);
  	text-transform: uppercase;
 	font-weight: 500;
 	font-size: 17px;
 	margin-bottom: 10px;
}

.bitebug-para-first-row-faqs {
	font-family: 'gotham-bok', sans-serif;
  	color: rgba(235, 18, 51, 1);
  	font-size: 14px;
	margin-bottom: 8px;
	line-height: 21px;
}

.bitebug-faqs-divider {
	height: 2px;
	background: #e7f2ee;
	margin-top: 20px;
	margin-bottom: 18px;
}

.bitebug-title-row-faqs {
	font-family: 'gotham-bok', sans-serif;
  	color: rgba(32, 33, 97, 1);
  	font-weight: 400;
  	margin-bottom: 12px;
  	font-size: 14px;
}

.bitebug-para-row-faqs {
	font-family: 'gotham-bok', sans-serif;
  	color: #555;
  	font-size: 12px;
  	line-height: 19px;
  	margin-bottom: 3px;
}

.bitebug-link-back-faqs {
	font-size: 12px;
	line-height: 19px;
  	font-family: 'gotham-bok', sans-serif;
  	color: rgba(235, 18, 51, 1);
 	text-decoration: underline;
}

.bitebug-faqs-main-container {
	margin-bottom: 140px;
}

.bitebug-modal-header-login {
	text-align: center;
	border-bottom: none;
}

.bitebug-input-modal-login {
    width: 100%;
    margin-bottom: 17px;
    background-color: #e7f2ee;
    border: none;
    font-size: 12px;
    padding: 9px;
}

.bitebug-input-modal-login:focus {
	outline: 0;
}

.bitebug-autentication-row-modal-login > .modal-login-under-credentials > .bitebug-checkbox-modal-login {
	/* float: left; */
  	vertical-align: middle;
  	margin-top: 0px;
  	margin-right: 3px;
}

.bitebug-text-checkbox-login {
	color: #666;
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 12px;
  	/* float: left; */
  	vertical-align: middle;
}

.bitebug-forgot-pass-modal {
	/* float: right; */
	font-family: 'gotham-bok', sans-serif;
  	font-size: 12px;
  	text-decoration: underline;
  	color: #666;
}

.bitebug-main-login-button-modal {
	width: 100%;
  	border: none;
  	background-color: rgba(235, 18, 51, 1);
  	color: #fff;
  	text-transform: uppercase;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: 400;
  	padding: 8px;
  	border: 2px solid rgb(235, 18, 51);
  	font-size: 18px;
  	margin-bottom: 15px;
  	margin-top: 15px;
}

.bitebug-main-login-button-modal:hover {
	border: 2px solid rgb(235, 18, 51);
	color: rgb(235, 18, 51);
	background-color: #ffffff;
}

#login_modalLabel {
	color: rgba(32, 33, 97, 1);
    font-family: 'futura-pt', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.bitebug-modal-body-login-modal {
	padding: 0px 50px 20px;
	padding-bottom: 30px;
}

.bitebug-social-container-modal-login {
	margin-bottom: 5px;
}

.bitebug-social-img-modal {
	width: 11%;
	height: 32px;
}

.bitebug-social-img-step-1 {
	width: 11%;
	height: 32px;
}

.bitebug-social-text-modal {
    display: inline-block;
    width: 85%;
    padding: 7px;
    color: #fff;
    height: 32px;
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    vertical-align: bottom;
}

.bitebug-social-text-signin-step1 {
	display: inline-block;
    width: 87%;
    padding: 7px;
    color: #fff;
    height: 32px;
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    vertical-align: bottom;
}

.bitebug-create-account-text-modal-login {
	text-align: center;
  	text-transform: uppercase;
  	font-family: 'gotham-bold', sans-serif;
  	margin-top: 21px;
  	color: rgba(235, 18, 51, 1);
  	font-weight: 700;
  	font-size: 10px;
}

#bitebug-modal-content-login-modal {
	width: 360px;
}

.bitebug-social-text-modal-fb {
	background: #3B5998;
}

.bitebug-social-text-modal-gm {
	background: #D22409;
}

.bitebug-divider-login-modal-span {
	display: inline-block;
  	font-family: 'futura-pt', sans-serif;
  	color: rgb(70, 71, 73);
  	font-size: 16px;
}

.bitebug-divider-login-modal-span:before, .bitebug-divider-login-modal-span:after {
    border-top: 1px solid black;
    display: block;
    height: 1px;
    content: " ";
    width: 45%;
    position: absolute;
    left: 0;
    top: 8px;
}

.bitebug-divider-login-modal-span:after {
   right: 0;  
   left: auto; 
}

.bitebug-divider-login-modal {
	text-align: center;
	position: relative;
	margin-bottom: 10px;
}

.bitebug-main-title-contact {
	padding-left: 15px;
  	padding-right: 15px;
  	color: rgba(32, 33, 97, 1);
  	font-family: 'futura-pt', sans-serif;
  	font-weight: 400;
  	font-size: 26px;
  	margin: 30px 0px 15px;
}

.bitebug-img-sidebar-contact {
	width: 100%;
}

.bitebug-img-container-sidebar-contact {
	padding-bottom: 10px;
}

.bitebug-no-padding-left {
	padding-left: 0;
}

.bitebug-no-padding-right {
	padding-right: 0;
}

.bitebug-img-container-sidebar-contact-left {
	padding-right: 5px;
}

.bitebug-img-container-sidebar-contact-right {
	padding-left: 5px;
}

.bitebug-subtitle-contact {
	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	margin-bottom: 22px;
  	line-height: 20px;
}

.bitebug-label-input-contact {
	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	margin-bottom: 10px;
}

.bitebug-input-field-contact {
  	width: 100%;
  	border: none;
  	background-color: #e5f2ee;
  	height: 32px;
  	margin-bottom: 20px;
}

.bitebug-input-field-contact:focus {
	outline: 0;
}

#bitebug-textarea-contact-page {
    width: 100%;
    border: none;
    background-color: #E7F2EE;
    margin-bottom: 15px;
    resize: none;
}

#bitebug-textarea-contact-page:focus {
	outline: 0;
}

.bitebug-button-contact {
	color: #fff;
  	text-transform: uppercase;
  	border-radius: none;
  	border: none;
  	font-family: 'futura-pt', sans-serif;
  	background-color: rgba(235, 18, 51, 1);
  	padding: 10px 22px;
  	font-size: 17px;
  	font-weight: 200;
}

.bitebug-heading-sidebar-contact {
	color: rgba(235, 18, 51, 1);
  	font-family: 'gotham-bold', sans-serif;
  	text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 600;
  	margin-bottom: 7px;
}

.bitebug-info-sidebar-contact {
    font-family: 'gotham-bok', sans-serif;
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

.bitebug-contact-sidebar-divider {
	height: 15px;
}

.bitebug-contact-main-container {
	margin-bottom: 80px;
}

.navbar-default .navbar-nav>li>a:focus {
	outline: 0;
}

.bitebug-up-panel-section {
	text-align: center;
	background: rgba(231, 241, 238, 1);
	padding: 25px 0px;
	margin-bottom: 20px;
}

.bitebug-dashboard-title {
    color: rgba(32, 33, 97, 1);
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 15px;
}

.bitebug-main-img-dashboard {
    width: 130px;
    height: 130px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.bitebug-text-below-main-image-dashboard {
    font-family: 'gotham-bok', sans-serif;
    margin-top: 11px;
    font-size: 14px;
}


.bitebug-menu-dashboard-first {
	border-top: 1px solid rgba(235, 18, 51, 1);
	border-bottom: 1px solid rgba(235, 18, 51, 1);
	padding: 10px 0px;
    font-family: 'gotham-bok', sans-serif;
	font-size: 14px;
}

.bitebug-menu-dashboard-last {
	border-bottom: 1px solid rgba(235, 18, 51, 1);
	padding: 10px 0px;
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.bitebug-menu-dashboard {
	border-bottom: 1px solid rgba(235, 18, 51, 1);
	padding: 10px 0px;
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
}

.bitebug-menu-dashboard-active {
	font-weight: bold;
	font-family: 'gotham-bold', sans-serif;
	font-size: 14px;
}

.bitebug-title-section-right-side-dashboard {
    color: rgba(32, 33, 97, 1);
    text-transform: uppercase;
    font-family: 'gotham-med', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 12px;
}

.bitebug-no-padding {
	padding: 0;
}

.bitebug-label-dashboard {
  	font-family: 'gotham-bok', sans-serif;
  	font-weight: 400;
    width: 22%;
  	float: left;
  	padding-top: 8px;
  	font-size: 14px;
  	padding-bottom: 2px;
}

.bitebug-set-as-primary-address label {
	font-weight: 400;
	font-family: "gotham-bok",sans-serif;
	margin-top: 8px;
	margin-bottom: 8px;
}

.bitebug-input-field-dashboard {
    width: 78%;
    border: none;
    background-color: #E7F2EE;
    height: 32px;
    margin-bottom: 8px;
    padding-left: 12px;
    font-family: 'gotham-bok', sans-serif;
  	font-size: 12px;
  	float: left;
}

.bitebug-input-field-dashboard[disabled] {
	background: #fff;
	border: 2px solid #E7F2EE;
	color: #999;
}

.bitebug-input-field-dashboard:focus {
	outline: 0;
}

.bitebug-input-field-dashboard-small {
  	width: 25%;
  	margin-left: 1%;
}

.bitebug-dashboard-button {
	float: right;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid rgb(235, 18, 51);
    font-family: 'futura-pt', sans-serif;
    background-color: rgba(235, 18, 51, 1);
    padding: 6px 15px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
}

.bitebug-dashboard-button:hover {
	background-color: #fff;
	color: rgb(235, 18, 51);
}

.bitebug-dashboard-button:focus {
	outline: 0;
}

.bitebug-title-info-dashboard {
    color: rgba(235, 18, 51, 1);
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 13px;
}

.bitebug-info-house {
    font-family: 'gotham-bold', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.bitebug-info-address, .bitebug-info-number, .bitebug-info-city, .bitebug-info-postalcode {
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.bitebug-info-postalcode {
	margin-bottom: 6px;
}

.bitebug-edit-address {
    font-family: 'gotham-bok', sans-serif;
    color: #999;
    font-size: 12px;
    text-decoration: underline;
    margin-right: 6px;
}

.bitebug-edit-address:hover, .bitebug-edit-address:focus {
    text-decoration: none;
    color: #999;
    font-family: 'gotham-bok', sans-serif;
    font-size: 12px;
    margin-right: 6px;
}

.bitebug-remove-address {
    font-family: 'gotham-bok', sans-serif;
    color: #999;
    text-decoration: underline;
    font-size: 12px;
}

.bitebug-remove-address:hover, .bitebug-remove-address:focus {
    text-decoration: none;
    color: #999;
    font-family: 'gotham-bok', sans-serif;
    font-size: 12px;
}

.bitebug-no-margin {
	margin: 0;
}

.bitebug-title-info-dashboard-2 {
	margin-top: 20px;
}

.bitebug-dashboard-main-content-row {
    margin-bottom: 60px;
}

.bitebug-dashboard-divider {
  	height: 2px;
  	background: #e7f2ee;
  	margin-top: 20px;
  	margin-bottom: 20px;    
}

.bitebug-first-row-dashboard, .bitebug-second-row-dashboard, .bitebug-third-row-dashboard, .bitebug-fourth-row-dashboard {
	margin: 10px 0px 0px 0px;
}

#imgInp {
	display: none;
}

.bitebug-custom-file-upload {
	font-family: 'gotham-bok', sans-serif;
	font-size: 12px;
	color: #aaa;
	font-weight: 400;
	text-decoration: underline;
	cursor: pointer;
	padding-left: 10px;
}

.bitebug-label-dashboard-profile-photo {
	width: initial;
	margin-right: 10px;
}

img#blah {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.input-field-container-dashboard {
	
}

.bitebug-social-text-dashboard {
    display: inline-block;
    width: 75%;
    padding: 9px;
    color: #fff;
    font-family: 'futura-pt', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    vertical-align: bottom;
    text-transform: uppercase;
    height: 37px;
}

.bitebug-social-text-dashboard-fb {
	background: #3B5998;
}

.bitebug-social-text-dashboard-tw {
	/* background: #00aced; */
	background: rgb(105, 184, 228);
}

.bitebug-social-text-dashboard-ml {
	background-color: rgba(235, 18, 51, 1);
}

.bitebug-dashboard-subtitle {
    color: rgba(32, 33, 97, 1);
    font-family: 'gotham-bok', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: -4px;
}

.bitebug-col-rewards-small {
    background-color: #fff;
    height: 70px;
}

.bitebug-rewards-text {
    color: rgba(235, 18, 51, 1);
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 500;
    padding-top: 15px;
    font-size: 14px;
}

.bitebug-rewards-number {
	color: rgba(235, 18, 51, 1);
    text-transform: uppercase;
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#bitebug-second-row-dashboard-refer {
	margin-bottom: 40px;
	margin-top: 10px;
}

.bitebug-label-dashboard-full {
	width: 100%;
	font-family: 'gotham-bok', sans-serif;
	font-size: 14px;
  	font-weight: 400;
}

.bitebug-input-field-dashboard-full {
	width: 100%; 
	border: none;
    background-color: #E7F2EE;
    height: 32px;
    margin-bottom: 15px;
    padding-left: 12px;
    font-family: 'gotham-bok', sans-serif;
  	font-size: 12px;
}

.bitebug-input-field-dashboard-full:focus {
	outline: 0;
}

#input-field-container-dashboard-friend-name {
	padding-right: 30px;
}

#bitebug-textarea-refer-page {
	width: 100%;
    border: none;
    background-color: #E7F2EE;
    margin-bottom: 15px;
    resize: none;
}

#bitebug-title-last-row-refer {
    color: rgba(32, 33, 97, 1);
    font-family: 'gotham-bold', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.bitebug-name-friend-dashboard {
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    margin-bottom: 3px;
    display: inline-block;
}

.bitebug-info-mail-refer {
    font-family: 'gotham-bok', sans-serif;
    color: #999;
    margin-bottom: 14px;
}

.bitebug-navbar-icon {
	width: 25px;
}

.bitebug-navbar-icon-account-logged {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    border: 1px solid #676769;
}

#bitebug-img-modal-products-page {
	width: 100%;
}

#bitebug-main-img-single-product-single-page {
	width: auto;
	height: 100%;
}

.bitebug-img-product-basket {
	max-width: 100px;
	display: inline-block;
}

.bitebug-fa-twitter-footer {
	color: rgba(32, 33, 97, 1);
}

.bitebug-fa-facebook-footer {
	color: rgba(32, 33, 97, 1);
}

.bitebug-fa-instagram-footer {
	color: rgba(32, 33, 97, 1);
}

.bitebug-title-order-status {
  	font-family: 'futura-pt', sans-serif;
  	font-size: 20px;
  	font-weight: 400;
  	text-align: center;
  	color: rgba(235, 18, 51, 1);
  	margin-bottom: 15px;
  	height: 45px;
}

.bitebug-col-order-status {
	opacity: 0.3;
}

.bitebug-col-order-status-ok {
	opacity: 1.0;
}

.bitebug-img-order-status {
  	display: block;
  	margin: 0 auto 25px;
}

.bitebug-second-row-order-status {
    border-top: 1px solid #bbb;
    margin-top: 30px;
    padding-top: 20px;
}

.bitebug-left-side-order-status-information {
  	display: inline-block;
  	width: 40%;
  	float: left;
}

.bitebug-right-side-order-status-information {
  	width: 60%;
  	float: left;
  	display: inline-block;
}

.bitebug-para-left-side-order-status-information {
  	font-family: 'gotham-bold', sans-serif;
  	font-size: 14px;
  	text-transform: uppercase;
  	font-weight: 500;
  	margin-bottom: 3px;
}

.bitebug-para-right-side-order-status-information {
  	font-family: 'gotham-bok', sans-serif;
  	margin-bottom: 3px;
}

.bitebug-fa-circle-contact {
	color: rgba(235, 18, 51, 1);
}

.bitebug-fa-circle-thin-referafriend {
	color: rgba(235, 18, 51, 1);
	  font-size: 20px;
}

.bitebug-fa-check-referafriend {
	color: rgba(235, 18, 51, 1);
	font-size: 10px;
	line-height: 20px;
}

.bitebug-gotham-bold {
    font-family: 'gotham-bold', sans-serif;	
}

.bitebug-gotham-med {
    font-family: 'gotham-med', sans-serif;	
}

.bitebug-gotham-light {
	font-family: 'gotham-light', sans-serif;
}

.bitebug-gotham-bk {
	font-family: 'gotham-bok', sans-serif;
}

.bitebug-info-product-ordered-title-heading {
    width: 20%;
    float: left;
}

.bitebug-img-product-ordered {
	padding-right: 20px;
}

.bitebug-product-ordered-real-content {
  	height: 120px;
  	float: left;
}

.bitebug-panel-acc-ordered-prod.panel.panel-default {
  	background-color: #fff;
  	border: none;
  	box-shadow: none;
}

.panel-default>.bitebug-panel-heading-ord {
	border-top: 1px solid rgba(87, 87, 87, 1);
	border-bottom: 1px solid #555;
  	background-color: #fff;
  	border-radius: 0px;
  	padding: 10px 0px;
}

.panel-default>.panel-heading+.panel-collapse>.bitebug-panel-body-ord {
	border: none;
	padding: 10px 0px;
}

.bitebug-product-ordered-title-heading {
  	font-family: 'gotham-bold', sans-serif;
  	font-size: 14px;
  	text-transform: uppercase;
  	line-height: 19px;
}

.bitebug-product-ordered-info-heading {
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	line-height: 19px;
}

.bitebug-info-product-ordered-title-heading-chevron {
 	text-align: center;
}

.bitebug-chevron-ord {
  	font-size: 17px;
  	padding-top: 5px;
  	color: rgba(235, 18, 51, 1);
}

.bitebug-divider-row-products-ordered {
	height: 20px;
}

.bitebug-products-row-ordered-content-container {
  	margin-bottom: 10px;
}

.bitebug-para-products-ordered {
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
}

.bitebug-button-product-ordered {
  	border: 2px solid rgba(235, 18, 51, 1);
  	background-color: rgba(235, 18, 51, 1);
  	color: #fff;
  	font-size: 13px;
  	text-transform: uppercase;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: 500;
  	padding: 3px 15px;
}

.bitebug-button-product-ordered:hover {
	background-color: #fff;
	color: rgba(235, 18, 51, 1);
}

.bitebug-input-field-dashboard-medium {
	width: 38%;
}

.bitebug-create-account-main-row.row {
  	max-width: 500px;
  	margin: 20px auto 80px;
}

.bitebug-create-account-heading {
  	font-family: montserrat;
  	text-transform: uppercase;
  	font-size: 14px;
  	margin-bottom: 10px;
  	color: rgba(32, 33, 97, 1);
}

.bitebug-para-create-account {
  	font-family: 'gotham-bok', sans-serif;
  	color: #aaa;
  	font-size: 12px;
  	margin-bottom: 15px;
}

#bitebug-para-create-account-checkbox {
	display: inline-block;
	padding-left: 7px;
}

.bitebug-button-create-account {
  	color: #fff;
  	text-transform: uppercase;
  	border-radius: 0px;
  	border: 2px solid rgba(235, 18, 51, 1);
  	font-family: 'futura-pt', sans-serif;
  	background-color: rgba(235, 18, 51, 1);
  	padding: 5px 15px;
  	font-size: 13px;
  	font-weight: 500;
}

.bitebug-button-create-account:hover {
	background: #ffffff;
	color: rgba(235, 18, 51, 1);
	border: 2px solid rgba(235, 18, 51, 1);
}

.bitebug-button-create-account:focus {
	outline: 0;
}

.bitebug-checkout-login-box {
	text-align: right;
}

.bitebug-checkout-login-btn {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.bitebug-checkout-login-btn span {
	padding: 8px;
	color: #FFF;
	height: 31px;
	font-family: "gotham-bok",sans-serif;
	font-size: 14px;
	text-align: center;
	font-weight: 100;
	vertical-align: middle;
}

.bitebug-checkout-social-link img {
	height: 31px;
}

.bitebug-checkout-text-fb {
	background-color: #3B5998;
}

.bitebug-checkout-text-google {
	background-color: #D22409;
}

a.bitebug-navbar-brand {
	margin: 0px auto;
	right: 0px;
	left: 0px;
	padding: 6px 8px 8px;
	display: block;
	position: absolute;
	/* max-width: 186px; */
}

a.bitebug-navbar-brand:hover {
	margin: 0px auto;
}

.bitebug-dropdown-menu-key:before {
	position: absolute;
  	top: -14px;
  	left: 80%;
  	display: inline-block;
  	border-right: 9px solid transparent;
  	border-bottom: 14px solid #ccc;
  	border-left: 9px solid transparent;
  	border-bottom-color: rgba(200, 200, 200, 1);
  	content: '';	
}

.bitebug-dropdown-menu-key:after {
  	position: absolute;
  	top: -12px;
  	left: 80%;
  	display: inline-block;
  	border-right: 9px solid transparent;
  	border-bottom: 13px solid #ffffff;
  	border-left: 9px solid transparent;
  	content: '';
}

.bitebug-li-account-dropdown-menu {
	font-family: 'gotham-bok', sans-serif;
	margin-top: 3px;
	margin-bottom: 7px;
}

.bitebug-dropdown-menu-key {
	border: 1px solid rgba(200, 200, 200, 1);
  	box-shadow: none;
  	border-radius: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  	background-color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background: #ffffff;
}

.bitebug-dropdown-menu-basket:before {
	position: absolute;
  	top: -14px;
  	left: 80%;
  	display: inline-block;
  	border-right: 9px solid transparent;
  	border-bottom: 14px solid #ccc;
  	border-left: 9px solid transparent;
  	border-bottom-color: rgba(200, 200, 200, 1);
  	content: '';	
}

.bitebug-dropdown-menu-basket:after {
  	position: absolute;
  	top: -12px;
  	left: 80%;
  	display: inline-block;
  	border-right: 9px solid transparent;
  	border-bottom: 13px solid #ffffff;
  	border-left: 9px solid transparent;
  	content: '';
}

.navbar-nav>li>.bitebug-dropdown-menu-basket {
	border: 1px solid rgb(200, 200, 200);
  	box-shadow: none;
  	border-radius: 0px;
  	width: 300px;
  	top: 114%;
  	right: -26px;
  	padding: 10px;

}

.bitebug-img-basket-drop-container {
  	float: left;
  	width: 50%;
}

.bitebug-info-product-basket-drop {
  	float: left;
  	width: 40%;
}

.bitebug-product-container-basket-drop {
  	border: 1px solid rgb(200, 200, 200);
  	margin-bottom: 10px;
}

.bitebug-arrow-up-container-basket-drop {
  	background-color: #e7f2ee;
  	text-align: center;
  	padding: 2px;
  	margin-bottom: 10px;
}

.bitebug-arrow-up-container-basket-drop:hover {
	background-color: #202161;
}

.bitebug-arrow-down-container-basket-drop {
  	background-color: #e7f2ee;
  	text-align: center;
  	padding: 2px;
  	margin-bottom: 10px;	
}

.bitebug-arrow-down-container-basket-drop:hover {
	background-color: #202161;
}

.bitebug-img-basket-drop {
  	padding: 10px;
}

.bitebug-fa-chevron-up-basket-drop {
  	color: #fff;
  	font-size: 25px;
}

.bitebug-fa-chevron-down-basket-drop {
  	color: #fff;
  	font-size: 25px;
}

.bitebug-product-price-basket-drop {
  	font-family: 'futura-pt', sans-serif;
  	font-size: 16px;
  	margin-top: 32px;
  	color: rgba(32, 33, 97, 1);
  	margin-bottom: 5px;
}

.bitebug-product-name-basket-drop {
  	font-family: 'gotham-bold', sans-serif;
  	text-transform: uppercase;
  	font-size: 11px;
  	margin-bottom: 4px;
}

.bitebug-basket-drop-litre {
  	font-family: 'gotham-bok', sans-serif;
  	margin-bottom: 7px;
  	font-size: 11px;
}

.bitebug-all-products-container-basket-drop {
  	max-height: 381px;
  	overflow: hidden;
}

.bitebug-basket-drop-sum {
  	width: 100%;
  	text-align: center;
  	font-family: 'futura-pt', sans-serif;
  	color: rgba(32, 33, 97, 1);
  	margin-bottom: 18px;
  	margin-top: 18px;
  	font-weight: 400;
  	font-size: 23px;
}

#bitebug-button-left-dropmenu {
  	float: left;
  	width: 49%;
  	color: rgba(235, 18, 51, 1);
  	text-transform: uppercase;
  	border-radius: 0px;
  	border: 2px solid rgba(235, 18, 51, 1);
  	background-color: #fff;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: 400;
  	margin-right: 2%;
  	height: 32px;
  	font-size: 14px;
}

#bitebug-button-left-dropmenu:hover {
	background: rgba(235, 18, 51, 1);
	color: #ffffff;
}

#bitebug-button-left-dropmenu:focus, #bitebug-button-right-dropmenu:focus {
	outline: 0;
}

#bitebug-button-right-dropmenu {
  	float: left;
  	width: 49%;
  	color: #fff;
  	background: rgba(235, 18, 51, 1);
  	border: none;
  	text-transform: uppercase;
  	padding: 4.5px 0px;
	font-weight: 400;
  	height: 32px;
  	font-size: 14px;
  	font-family: 'futura-pt', sans-serif;
}

#bitebug-button-right-dropmenu:hover {
	background: none;
	border: 2px solid rgba(235, 18, 51, 1);
	color: rgba(235, 18, 51, 1);
}

/**************************************************************************************************************/
.bitebug--product-quantity:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 60px;
	border: 1px solid #e7f2ee;
	border-radius: 0px;
}

.bitebug--product-quantity > button:hover,
.bitebug--product-quantity > button:focus,
.bitebug--product-quantity > button:active {
	background: none;
	border-radius: 0px;
	box-shadow:none;
	outline: 0;
}

.bitebug--product-quantity > button {
  	box-shadow: none !important;
  	background-color: #e7f2ee !important;
  	border-radius: 0px !important;
	border-color: #e7f2ee !important;
  	border: 1px solid;
  	padding: 0;
}

.bitebug--product-quantity > button > .filter-option {
	background-color: #fff;
	padding-left: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug--product-quantity > button > .caret {
	right: 8px !important;
}

.bitebug--product-quantity > .dropdown-menu {
	padding: 0;
	box-shadow: none;
  	border-radius: 0px;
  	border: 1px solid #eef2ee;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug--product-quantity > .dropdown-menu > .dropdown-menu > li > a:active,
.bitebug--product-quantity > .dropdown-menu > .dropdown-menu > li > a:focus,
.bitebug--product-quantity > .dropdown-menu > .dropdown-menu > li > a:hover {
	outline: 0;
}

.bitebug--product-quantity > .dropdown-menu > .dropdown-menu {
	border-radius: 0px;
}
/**************************************************************************************************************/
.bitebug--time-delivery:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 90px;
	/* border: 1px solid rgba(32, 33, 97, 1); */
	border: none;
	border-radius: 0px;
}

.bitebug--time-delivery > button:hover,
.bitebug--time-delivery > button:focus,
.bitebug--time-delivery > button:active {
	background: none;
	border-radius: 0px;
	box-shadow:none;
	outline: 0;
}

.bitebug--time-delivery > button {
  	box-shadow: none !important;
  	background-color: rgba(32, 33, 97, 1) !important;
  	border-radius: 0px !important;
	border-color: rgba(32, 33, 97, 1) !important;
  	border: none;
  	padding: 0;
}

.bitebug--time-delivery > button > .filter-option {
	background-color: #fff;
	padding-left: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug--time-delivery > button > .caret {
	right: 8px !important;
	color: #fff;
}

.bitebug--time-delivery > .dropdown-menu {
	padding: 0;
	box-shadow: none;
  	border-radius: 0px;
  	border: 1px solid #eef2ee;
  	font-family: 'futura-pt', sans-serif;
}

.bitebug--time-delivery > .dropdown-menu > .dropdown-menu > li > a:active,
.bitebug--time-delivery > .dropdown-menu > .dropdown-menu > li > a:focus,
.bitebug--time-delivery > .dropdown-menu > .dropdown-menu > li > a:hover {
	outline: 0;
	background: #202161;
	color: #fff;
}

.bitebug--time-delivery > .dropdown-menu > .dropdown-menu {
	border-radius: 0px;
}
/**************************************************************************************************************/

.bootstrap-select .dropdown-toggle:focus {
	outline: 0 !important;
}

.bitebug-quantity-select-container-order-history {
  	padding-top: 44%;
}

.bitebug-title-modal-homepage {
  	text-align: center;
  	font-family: 'futura-pt', sans-serif;
  	font-size: 23px;
  	margin-bottom: 10px;
  	color: rgba(32, 33, 97, 1);
  	font-weight: 400;
}

.bitebug-button-close-modal-homepage { 
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 12px;
  	font-family: 'futura-pt', sans-serif;
  	opacity: 1;
  	color: #999;
}

/*.bitebug-mobile-menu-container {
	display: none;
}*/

#bitebug-button-menu-desktop {
	display: none;
}

.bitebug-icon-mobile-tablet-header-container {
  	display: inline-block;
  	float: right;
  	padding-right: 17px;
  	padding-top: 15px;
}

.bitebug-navbar-brand-tablet {
  	position: absolute;
  	left: 50%;
  	margin-left: -85px;
  	padding: 8px 0px 0px 0px;
}

.bitebug-navbar-brand-tablet:hover {
 	margin-left: -85px;
}

#bitebug-logo-tablet {
	max-width: 170px;
}

.bitebug-navbar-brand-mobile {
  	position: absolute;
  	left: 50%;
  	margin-left: -16.5px;
  	padding: 10px 0px 0px 0px;
}

.bitebug-navbar-brand-mobile:hover {
	margin-left: -16.5px;
}

.bitebug-navbar-tablet-and-mobile {
	position: absolute;  
	border: none;
  	background-color: #fff;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: none;
}

.bitebug-mobile-menu-container {
	background-color: #E7F2EE;
	padding: 20px;
}

.bitebug-img-pin-mobilemenu {
  	height: 30px;
  	display: inline-block;
}

.bitebug-title-mobilemenu {
  	display: inline-block;
  	width: 80%;
  	padding-left: 10px;
  	font-family: 'gotham-med', sans-serif;
  	font-size: 13px;
  	text-transform: uppercase;
  	font-weight: 500;
  	vertical-align: top;
  	color: rgba(32, 33, 97, 1);
}

.bitebug-input-group-first-row-mobile-menu {
	width: 100%;
  	margin: 10px auto 0px;	
}

.bitebug-input-group-first-row-mobile-menu input {
	height: 30px;	
}

.bitebug-input-group-first-row-mobile-menu input {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.bitebug-button-go-address-mobile {
  	padding-top: 8px;
  	padding-bottom: 2px;
  	background: #eb1233;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
}

.bitebug-button-go-address-mobile:active {
 	background: #eb1233;	
 	-webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	box-shadow: none;	
}

.bitebug-button-go-address-mobile:hover {
 	background: #eb1233;	
 	-webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	box-shadow: none;	
}

.bitebug-button-go-address-mobile:visited {
 	background: #eb1233;	
 	-webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	box-shadow: none;	
}

.bitebug-button-go-address-mobile:active:hover {
 	background: #eb1233;	
 	-webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	box-shadow: none;
}

#bitebug-fa-go-address-mobile-id {
	margin-left: -4px;
	position: relative;
  	bottom: 2px;
  	left: 3px;
}

.bitebug-fa-go-address-mobile {
	color: #fff;
}

.bitebug-divider-mobile-menu {
  	height: 1px;
  	background-color: #eb1233;
  	margin-top: 10px;
}

.bitebug-link-mobilemenu {
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	padding-top: 10px;
  	line-height: 21px;
}

.bitebug-logout-mobile-menu {
  	font-family: 'futura-pt', sans-serif;
  	text-transform: uppercase;
  	margin-top: 13px;
  	margin-bottom: 11px;
}

.para-bottom-mobile-menu {
  	width: 50%;
  	float: left;
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 12px;
  	margin-top: 15px;
  	color: #aaa;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: 0;
}

.bitebug-col-homepage {
	
}

.container {
	max-width: 1000px;
}

.bitebug-para-right-side-order-status-information-for-mobile {
	margin-bottom: 22px;
}

.bitebug-para-products-ordered-edit {
	color: #999;
	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	margin-top: 2px;
  	text-decoration: underline;
  	display: block;
}

.bitebug-para-products-ordered-edit:hover {
	text-decoration: none;
	color: #999;
	margin-top: 2px;
}

.bitebug-product-ordered-real-content-img {
  	width: 15%;
}

.bitebug-product-ordered-real-content-product-name {
  	width: 25%;
}

.bitebug-product-ordered-real-content-quantity {
  	width: 10%;
}

.bitebug-product-ordered-real-content-item-price {
  	width: 25%;
}

.bitebug-product-ordered-real-content-button {
  	width: 25%;
  	text-align: right;
}

button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
	outline: 0;
}

.bitebug-info-product-ordered-title-heading-total {
  	width: 15%;
}

.bitebug-info-product-ordered-title-heading-chevron {
  	width: 6%;
  	text-align: right;
}

.bitebug-info-product-ordered-title-heading-payment-method {
  	width: 29%;
}

.bitebug-info-product-ordered-title-heading-order-placed {
  	width: 25%;
}

.bitebug-info-product-ordered-title-heading-delivery {
  	width: 25%;
}

.bitebug-dashboard-main-content {
  	padding-bottom: 70px;
}

.bitebug-dark-divider-order-history {
	height: 1px;
	background: #555;
}

.bitebug-panel-collapse-order-history {
	/* border-top: 1px solid #555; */
}

.bitebug-divider-light-order-history {
	height: 1px;
	background: #999;
	margin-bottom: 10px;
}

#bitebug-button-push-right-mobile-menu {
	margin-left: 0;
}

.bitebug-first-row-dashboard-desktop {
	
}

.bitebug-first-row-dashboard-mobile {
	display: none;
}

.bitebug-container-item-insert-picture-mobile-my-account {
	width: 33%;
	float: left;	
}

.bitebug-container-item-insert-picture-mobile-my-account label {
	margin: 0px;
	margin-top: 10px;
}

.bitebug-text-align-right {
	text-align: right;
}

.bitebug-text-align-center {
	text-align: center;
}

.bitebug-center-block {
	display: block;
	margin: 0 auto;
}

.bitebug-container-mobile-insert-picture-myaccount {
	margin: 10px 0px;
}

#bitebug-label-dashboard-profile-photo-id-desktop {
	margin-top: 17px;
}

.bitebug-row-products-list {
	margin-left: 0px;
	margin-right: 0px;
}

.bitebug-product-list-product-page-mobile {
	display: none;
}

.panel-default > .bitebug-panel-heading-menu {
	padding: 0;
	border-bottom: 3px solid #E7F2EE;
  	background-color: #fff;
}

.bitebug-panel-default-accordition-menu-page {
	border: none;
}

.bitebug-panel-body-accordition-menu-page {
	padding: 0;
}

.bitebug-fa-plus-product-page-mobile {
	position: absolute;
	right: 15px;
  	bottom: 20px;
  	color: #aaa;
}

.bitebug-container-title-product-menu {
	position: relative;
}

.bitebug-row-product-mobile-products {
	margin-left: 0;
	margin-right: 0;
}

.bitebug-small-container-col-products-page-mobile {
  	height: 150px;
}

.bitebug-img-product-mobile-products-page {
  	height: 100%;
  	margin: 0 auto;
}

.bitebug-col-products-page-mobile {
  	padding: 20px 0px 10px;
}

.panel-default > .panel-heading+.panel-collapse > .bitebug-panel-body-accordition-menu-page {
  	border: none;
  	background: #FFFFFF;
  	border-bottom: 3px solid #E7F2EE;
}

.bitebug-text-title-product-mobile-menu-page {
  	font-family: 'futura-pt', sans-serif;
  	font-size: 22px;
  	padding: 20px 15px 20px 15px;
  	color: #eb1233;
  	font-weight: 400;
}

.bitebug-small-container-col-products-page-mobile-text {
  	margin-top: 20px;
}

.bitebug-collapse-list-products-link {
  	font-family: montserrat;
  	font-size: 12px;
  	font-weight: 200;
  	padding-left: 19px;
  	margin-top: 15px;
  	color: rgba(32, 33, 97, 1);
  	text-decoration: underline;
  	padding-bottom: 30px;
}

.bitebug-text-under-products {
  	text-align: center;
  	margin-top: 30px;
  	margin-bottom: 15px;
  	font-family: montserrat;
  	color: #eb1233;
  	font-weight: 200;
  	font-size: 16px;
}

.bitebug-button-products-mobile {
	color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    border: none;
    font-family: 'futura-pt', sans-serif;
    font-size: 18px;
    background-color: rgba(235, 18, 51, 1);
    padding: 9px 40px;
    font-weight: 500;
    margin: 0 auto;
    display: block;
}

.bitebug-more-product-section-mobile {
	display: none;
}

#bitebug-carousel-mobile-view-other-products {
  	margin-bottom: 30px;
}

.bitebug-product-container-mobile-carousel {
	height: 150px;
}

.bitebug-product-container-mobile-carousel img {
	height: 100%;
}

/* carousel other products mobile style start */

.jcarousel-wrapper {
	margin: 0;
  	position: relative;
  	border: none;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
  	display: block;
  	max-width: 100%;
  	height: 150px;
  	margin: 0 auto;
}

/** Carousel Controls **/

.jcarousel-control-prev, .jcarousel-control-next {
  	position: absolute;
  	top: 50%;
 	margin-top: -30px;
  	width: 34px;
  	height: 44px;
  	text-align: center;
  	background: none;
  	color: rgb(32, 33, 97);
  	text-decoration: none;
  	text-shadow: none;
  	font: 44px/44px Arial, sans-serif;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
}

.jcarousel-control-prev {
    left: 0px;
}

.jcarousel-control-prev:hover {
	margin-top: -30px;	
}

.jcarousel-control-next {
    right: 0px;
}

.jcarousel-control-next:hover {
    margin-top: -30px;
}
/* carousel other products mobile style end */

.bitebug-more-product-container-mobile {
	padding: 0px 0px 25px;
}

.bitebug-title-other-proucts-mobile {
  	margin: 0px 15px;
  	border-top: 1px solid #E7F2EE;
  	padding-top: 10px;
  	font-family: 'futura-pt', sans-serif;
  	font-size: 20px;
  	margin-bottom: 10px;
  	color: rgb(32, 33, 97);
  	font-weight: 400;
}

.bitebug-title-first-row-table-basket-tablet-and-mobile {
  	width: 33.33333333333%;
  	float: left;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: bold;
}

.bitebug-item-container-basket-tablet-and-mobile {
  	width: 33.33333333333%;
  	float: left;
  	margin-top: 20px;
  	margin-bottom: 20px;
}

#bitebug-basket-total-mobile-text {
  	width: 50%;
  	float: left;
  	font-family: 'futura-pt', sans-serif;
  	text-transform: uppercase;
  	font-weight: 600;
  	padding-top: 10px;
}

#bitebug-basket-total-mobile-number {
  	width: 50%;
  	float: left;
  	text-align: right;
  	font-family: 'futura-pt', sans-serif;
  	text-transform: uppercase;
  	font-weight: 600;
  	padding-top: 10px;
}

.bitebug-first-row-table-basket-tablet-and-mobile {
  	border-bottom: 1px solid #aaa;
  	padding-bottom: 10px;
}

.bitebug-item-row-table-basket-tablet-and-mobile {
  	border-bottom: 1px solid #777;
}

.bitebug-single-product-description-basket-product-name {
	width: 43%;
}

.bitebug-single-product-description-basket-select {
	width: 23%;
}

.bitebug-single-product-description-basket-price {
	width: 34%;
}

.bitebug-last-row-table-basket-tablet-and-mobile {
  	border-bottom: 1px solid #555;
  	margin-bottom: 20px;
  	padding-bottom: 8px;
}

.bitebug-input-field-dashboard-medium-1 {
	margin-right: 2%;
}

.bitebug-input-field-dashboard-small-create-account-2 {
	width: 26%;
  	margin-left: 2%;
  	margin-right: 2%;

}

.bitebug-input-field-dashboard-small-create-account-1 {
	width: 22%;
  	margin-left: 0%;
}

.bitebug-input-field-dashboard-small-create-account-3 {
	width: 26%;
  	margin-left: 0%;
}

.bitebug-border-right-light {
	border-right: 2px solid #E7F2EE;
}

.bitebug-img-product-ordered-modal-homepage {
	height: 100%;
}

.bitebug-info-product-ordered-title-heading-chevron-modal-homepage {
  	width: 4%;
}

.bitebug-info-product-ordered-title-heading-order-placed-modal-homepage {
  	width: 24%;
}

.bitebug-info-product-ordered-title-heading-total-modal-homepage {
  	width: 16%;
}

.bitebug-info-product-ordered-title-heading-delivery-modal-homepage {
  	width: 24%;
}

.bitebug-info-product-ordered-title-heading-payment-method-modal-homepage {
  	width: 30%;
}

.bitebug-product-ordered-real-content-img-modal-homepage {
  	width: 17%;
}

.bitebug-product-ordered-real-content-product-name-modal-homepage {
  	width: 23%;
  	padding-top: 50px;
}

.bitebug-product-ordered-real-content-quantity-modal-homepage {
  	width: 12%;
  	padding-top: 45px;
}

.bitebug-product-ordered-real-content-item-price-modal-homepage {
  	width: 27%;
  	padding-top: 50px;
  	text-align: center;
}

.bitebug-product-ordered-real-content-button-modal-homepage {
  	width: 20%;
  	text-align: right;
  	padding-top: 50px;
}

.bitebug-price-product-modal-2 {
	margin-bottom: 3px;
}

.bitebug-description-product-modal {
	font-family: 'futura-pt', sans-serif;
	margin-bottom: 6px;
}

.bitebug-right-side-modal-product-2 {
	margin-top: 0;
}

.bitebug-description-product-modal-description {
	color: rgba(235, 18, 51, 1);
	margin-bottom: 2px;
	text-decoration: underline;
}

.bootstrap-select.btn-group.bitebug--product-quantity-order-history {
	display: none;
}

.bitebug-chevron-ord-close {
	color: #999;
	padding-top: 10px; 
}

.bitebug-products-row-ordered-content-container-modal-homepage {
	border-top: 1px solid #555;
  	padding-top: 15px;
}

.bitebug-basket-drop-quantity {
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 11px;
}

.bitebug-input-group-first-row-mobile-menu input {
	font-family: 'gotham-bok', sans-serif;
	font-size: 11px;
}

.bitebug-social-container-dashboard {
  	height: 37px;
}

.bitebug--product-quantity-single-product {
	position: absolute;
	bottom: 20px;
}

.bitebug-col-4-dashboard-friend-invited {
	height: 55px;
}

.bitebug-btn-product-change-qty {
  	color: rgba(235, 18, 51, 1);
  	font-size: 16px;
  	background-color: #fff;
  	border: none;	
}

.bitebug-btn-product-change-qty-mobile {
  	color: rgba(235, 18, 51, 1);
  	font-size: 19px;
  	background-color: #fff;
  	border: none;	
}

.bitebug-span-number-quantity-product-increment {
  	padding: 0px;
}

.bitebug-span-number-quantity-product-increment-mobile {
  	padding: 0px;
  	font-size: 18px;
}

.bitebug-increment-box-product-quantity-single-product {
	position: absolute;
	bottom: 25px;
}

.bitebug-increment-box-product-quantity-order-history {
	display: none;
	padding-top: 0;
}

.bitebug-more-info-product-link {
	font-size: 12px;
	font-family: 'gotham-bok', sans-serif;
	color: rgba(235, 18, 51, 1);
	text-decoration: underline;
	white-space: nowrap;
}

.bitebug-more-info-product-link:hover {
	color: rgba(235, 18, 51, 1);
	text-decoration: underline;
}

.bitebug-more-info-product-link:focus {
	color: rgba(235, 18, 51, 1);
	text-decoration: underline;
}

.bitebug-more-info-product-link:active {
	color: rgba(235, 18, 51, 1);
	text-decoration: underline;
}

.bitebug-more-info-product-link:checked {
	color: rgba(235, 18, 51, 1);
	text-decoration: underline;
}

.bitebug-arrows-img-products {
	width: 25%;
	display: inline-block;
	float: right;
	margin-left: 0px;
}

.bitebug-increment-box-container {
  	float: left;
}

.bitebug-button-the-usual {
	float: right;
	font-family: 'gotham-bok', sans-serif;
  	font-size: 14px;
  	border: none;
  	color: #fff;
  	background: rgb(235, 18, 51);
  	border: 2px solid rgb(235, 18, 51);
  	padding: 4px 13px;
}

.bitebug-button-the-usual:hover {
	background: #ffffff;
	color: rgb(235, 18, 51);
}

.bitebug-modal-content-theusual {
	/*padding-bottom: 20px;*/
}

.bitebug-row-modal-the-usual .bitebug-span-number-quantity-product-increment {
	min-width: 13px;
	display: inline-block;
	text-align: center;
}

.bitebug-img-the-usual {
  	margin-bottom: 5px;
}
.bitebug-button-theusual {
  	width: 49%;
  	float: left;
  	text-transform: uppercase;
  	border: none;
  	font-size: 16px;
  	font-family: 'futura-pt', sans-serif;
  	color: #FFFFFF;
  	padding: 5px 0px;
}

.bitebug-button-theusual-1 {
	
	background-color: #202161;
}

.bitebug-button-theusual-2 {
	margin-left: 2%;
	background-color: #eb1233;
}

.bitebug-fa-minus-circle-product-increment-theusual {
	color: rgb(235, 18, 51);
	padding-left: 0;
	padding-right: 0;
	margin-top: 2px;
	border: none;
	background: transparent;
	font-size: 16px;
}

.bitebug-fa-plus-circle-product-increment-theusual {
	color: rgb(235, 18, 51);
	padding-left: 0;
	padding-right: 0;
	margin-top: 2px;
	border: none;
	background: transparent;
	font-size: 16px;
}

.bitebug-fa-stack-close-modal {
	
}

.bitebug-fa-stop-close-modal {
	color: rgba(235, 18, 51, 1);
  	font-size: 20px;
}

.bitebug-fa-stop-close-modal:hover {
	color: rgba(235, 18, 51, 1);
}

.bitebug-fa-times-close-modal {
	font-size: 13px;
  	line-height: 1.5;
}

.close:focus, .close:hover {
	opacity: inherit;
}

.bitebug-fa-stack-close-modal {
  	padding-top: 5px;
}

.bitebug-set-delivery-time-button {
  	color: #fff;
  	text-transform: uppercase;
  	border-radius: 0px;
  	border: none;
  	font-family: 'futura-pt', sans-serif;
  	background-color: rgba(235, 18, 51, 1);
  	padding: 0px 15px;
  	font-weight: 500;
  	font-size: 13px;
  	height: 30px;
  	border: 2px solid rgba(235, 18, 51, 1);
}

.bitebug-set-delivery-time-button:hover {
  	color: rgba(235, 18, 51, 1);
  	background: #fff;
  	border: 2px solid rgba(235, 18, 51, 1);
}

.bitebug-set-delivery-time-block {
  	margin: 10px auto 0px;
  	background-color: #fff;
	max-width: 280px;
    padding: 4px;
  	display: none;
}

#bitebug-set-delivery-time-home {
  	font-family: 'gotham-bok', sans-serif;
  	font-size: 15px;
  	margin-top: 11px;
  	color: #202161;
  	cursor: pointer;
}

.bitebug-block-under-age {
	display: none;
}

#bitebug-img-age-check-modal {
  	display: block;
  	margin: 10px auto;
}

.bitebug-title-age-check-modal {
  	font-size: 23px;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: 400;
  	color: rgba(235, 18, 51, 1);
}

.bitebug-subtitle-age-check-modal {
	font-size: 23px;
  	font-family: 'futura-pt', sans-serif;
  	font-weight: 400;
  	color: #202161;
  	padding-bottom: 16px;
}

.bitebug-modal-body-age-check {
	text-align: center;
	padding-right: 9%;
	padding-left: 9%;
}

.bitebug-button-modal-check-age {
	width: 100%;
  	text-transform: uppercase;
  	border: none;
	font-size: 17px;
  	font-family: 'futura-pt', sans-serif;
  	color: #FFFFFF;
  	padding: 9px 0px;
  	margin: 5px 0px;
}

.bitebug-button-modal-check-age-1 {
	background-color: #202161;
}

#still-pup {
	padding-top: 0;
}

.bitebug-button-modal-check-age-2 {
	background-color: #eb1233;
}

.bitebug-information-age-check-modal {
	font-family: 'gotham-bok', sans-serif;
	font-size: 12px;
	max-width: 235px;
	margin: 10px auto 0px;
	color: #4D4D4D;
	line-height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bitebug-information-age-check-modal-2 {
  	font-family: 'gotham-bok', sans-serif;	
}

#bitebug-logo-mobile {
  	max-width: 33px;
}

.bitebug-basket-text-mobile-tablet {
	font-family: 'gotham-bold', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}
 
.bitebug-basket-text-mobile-tablet-1 {
	/*float: left;
	width: 100%;*/
}

.bitebug-basket-text-mobile-tablet-2 {
	float: right;
}

.bitebug-block-insert-new-address {
	display: none;
}

.bitebug-no-margin-left {
	margin-left: 0;
}

.bitebug-DOB-center-field {
	margin-left: 1.5%;
	margin-right: 0.5%;
}

#bitebug-second-form-edit-address {
	display: none;
	margin-top: 25px;
}

 .bitebug-tf-basket  {
 	/*border-bottom: 1px solid #ddd;*/
 } 

.bitebug-col-theusual {
	margin-bottom: 20px;
}

.link-tos {
	text-decoration: underline;
}

.link-tos:hover {
	text-decoration: none;
}

.modal-login-under-credentials {
	display: block;
	width: 50%;
	float: left;
}

.login-modal-label-rememberme {
	font-size: 12px;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
}

.login-modal-label-rememberme > input {
	margin: 0;
	margin-left: 5px;
	vertical-align: middle;
}

/* Button Effects */

/* ::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(235, 18, 51);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
} */

#enter_address_btn {
    background-color: rgba(32, 33, 97, 1);
    border-color: rgba(32, 33, 97, 1);
}

.bitebug-second-row-delivery-information-section {
    background-color: #e7f2ee;
    padding-bottom: 25px;
    text-align: center;
}

#enter_address_btn:hover, #enter_address_btn:focus {
	color: #fff;
}

.bitebug-title-edit-enter-address-homepage {
    text-align: center;
    font-family: "gotham-bok",sans-serif;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(235, 18, 51, 1);
}

.bitebug-title-wrong-enter-address-homepage {
	text-align: center;
    font-family: "gotham-med",sans-serif;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(32, 33, 97, 1);
}

#bitebug-homepage-wrong-address-input-field {
	background: #fff;
	width: 220px;
	border: 1px solid #ffffff;
	font-size: 12px;
	font-family: "gotham-bok",sans-serif;
}

.bitebug-opened-button-homepage-enter-address {
    background-color: transparent;
    text-transform: uppercase;
    padding: 6px 21px;
    border: 2px solid rgba(32, 33, 97, 1);
    color: rgba(32, 33, 97, 1);
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
}

.bitebug-opened-button-homepage-enter-address[disabled] {
	color: #ccc;
	cursor: not-allowed;
	background: transparent;
}

.bitebug-opened-button-homepage-enter-address[disabled]:hover {
	background: transparent;
}

#bitebug-homepage-edit-address-input-field {
	background: #fff;
	width: 323px;
	font-size: 10px;
	font-size: 12px;
	font-family: "gotham-bok", sans-serif;
}

.bitebug-select-option-homepage-time-delivery {
    display: inline-block;
}

#bitebug-homepage-edit-enter-address {
	display: none;
	padding-top: 7px;
}

#no-delivery-msg-map {
    color: #555;
    display: none;
    font-family: "futura-pt", sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top: 15px;
}

#no-delivery-msg-map h2 {
    font-size: 18px;
    font-weight: 400;
    color: #EB1233;
    text-transform: uppercase;
}

#span-nodice {
    font-weight: 600;
}


#no-delivery-txt {
	text-align: center;
	max-width: 450px;
	color: #555;
	margin: 0 auto;
	margin-top: 7px;

	font-family: "gotham-bok",sans-serif;
	font-size: 14px;
	line-height: 20px;

}

.bitebug-if-delivery-ok {
	display: none;
}

.bitebug-if-nodelivery {
	display: none;
}

.bitebug-if-nodelivery-txt {
	display: none;
}

#bitebug-checkout-saveaddress-checkbox-review {
	text-align: right;
}

#mobile-basket-empty-div {
	display: none;
	position: fixed;
	top: 50px;
	right: 0;
	background: #ffffff;
	padding: 15px;
	font-size: 12px;
	width: 230px;
	z-index: 100;
	border: 1px solid #999;
}

#mobile-basket-empty-div h3 {
	font-size: 14px;
	font-family: 'futura-pt', sans-serif;
	text-align: center;
	padding: 0;
	margin-bottom: 10px;
}

#mobile-basket-empty-div .btn-basket-empty {
	font-size: 12px;
}

.bitebug-select-new {
	background: #E7F2EE;
	border: none;
	padding: 7px;
	font-family: "gotham-bok",sans-serif;
	font-size: 12px;	
}

.bitebug-newsletter-msg {
	padding: 7px;
	font-size: 11px;
	margin-top: 9px;	
}

#bitebug-newsletter-error {
	display: none;
}

#bitebug-newsletter-msg-ok {
	display: none;
}

#bitebug-divider-mobile-first {
	margin-top: 20px;
}

.backtomenu {
	color: #777777;
	font-family: 'gotham-bok', sans-serif;
	font-size: 12px;
	padding-top: 10px;
}

.backtomenu a {
	text-decoration: underline;
}

.backtomenu a:hover {
	text-decoration: none;
}

.bitebug-left-side-dashboard {
    margin-top: 13px;
}

.bitebug-input-group-coupon {
	margin: 15px auto 10px;
	width: 100%;
}

.bitebug-input-group-coupon > .bitebug-input-coupon {
	background-color: #E7F2EE;
    color: #555555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 36px;
}

.bitebug-input-group-coupon > .bitebug-input-coupon[disabled] {
	background-color: #f1f1f1;
}

#btn-add-coupon {
	border: 2px solid #202161;
	color: #ffffff;
	background: #202161;
	font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    width: 100%;
    font-size: 14px;
}

#btn-add-coupon:hover {
	border: 2px solid #202161;
	color: #202161;
	background: #ffffff;
}

#bitebug-button-basket-secure-pay-first-step-id {
	margin-top: 20px;
}

.bitebug-input-field-telephone-required {
	width: 100%;
}

.bitebug-subtitle-contact a:hover  {
	text-decoration: none;
}

.bitebug-subtitle-contact a {
	text-decoration: underline;
}

.bitebug-developed-div {
    text-align: right;
    padding-top: 10px;
    line-height: 15px;
}

#bitebug-error-mobile-checkout {
	display: none;
}

#bitebug-error-coupon-checkout {
	display: none;
	font-size: 12px;
}

#poochie-animate-homepage-red {
	display: block;
	margin: 0 auto;
	width: 110px;
	height: 110px;
}

.poochie-order-animation {
	display: block;
	position: relative;
	width: 171px;
	height: 171px;
	margin: 0 auto;
	border: 6px solid #e7f2ee;
	border-radius: 100px;
	overflow: hidden;
	text-align: center;
}

#poochie-order-wagging > #Stage {
	margin: auto;
	margin-top: 16px;
}

#poochie-order-running > #Stage {
	margin: auto;
	margin-top: 16px;
}

.bitebug-border-white-right {
    border-right: 3px solid #ffffff;
}

.bitebug-border-white-left {
    border-left: 3px solid #ffffff;
}

.bitebug-input-field-dashboard-short-desktop {
	width: 100%;
    float: none;
}

.bitebug-label-dashboard-short-desktop {
	width: 100%;
    float: none;
}

.bitebug-checkout-btn-sign-in {
	width: 100%;
}

.bitebug-row-sign-in-step1 {
	margin-bottom: 10px;
}

.bitebug-bar-home-information-section {
	background: rgba(32, 33, 97, 1);
}

.bitebug-estimated-delivery-time-text {
	color: #333;
    font-size: 14px;
    font-weight: 400;
    font-family: 'gotham-bok', sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
}

.bitebug-bar-home-information-section > .bitebug-first-row-homepage-container{
	padding: 30px 0px 30px 0px;
}

.bitebug-set-delivery-container-step-1 {
	display: none;
}

.bitebug-set-delivery-container-basket-review {
	display: none;
}

.bitebug-link-edit-delivery-time {
	font-size: 14px;
    font-family: 'futura-pt', sans-serif;
    color: #999;
    text-decoration: underline;
    padding-left: 5px;
    cursor: pointer;
}

.bitebug--time-delivery-step-1 .filter-option {
	border: 1px solid rgba(32, 33, 97, 1);
}

.bitebug--time-delivery-basket-review .filter-option {
	border: 1px solid rgba(32, 33, 97, 1);
}

.bitebug-set-delivery-time-button-step-2 {
	height: 34px;
}

.bitebug-set-delivery-time-button-basket-review {
	height: 34px;
    margin-top: 10px;
}

.bitebug-date-delivery-expeted {
	color: rgba(32, 33, 97, 1);
	font-size: 16px;
}

.bitebug-link-edit-delivery-time-basket-review {
	padding-left: 0;
	padding-top: 5px;
}

.msg_no_checkout {
    font-family: "futura-pt", sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 12px;
    margin-top: 10px;
    text-align: center;
}

.bitebug-checkout-billing-postcode {
	margin-top: 4px;
}

.bitebug-checkout3-billing-postcode {
	margin-top: 0px;
	margin-bottom: 20px;
}

.bitebug-basket-items-number-1 {
    vertical-align: bottom;
    display: inline-block;
    font-family: 'futura-pt', sans-serif;
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 13px;
    color: rgb(235, 18, 51);
    width: 16px;
    text-align: center;
}

.bitebug-basket-items-number-2 {
    vertical-align: bottom;
    display: inline-block;
    font-family: 'futura-pt', sans-serif;
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 13px;
    color: rgb(235, 18, 51);
    width: 16px;
    text-align: center;
}

.footer-separator {
	margin-left: 10px;
	margin-right: 10px;
}

.footer-developed-span {
	border-right: 1px solid #FFF;
	padding-right: 10px;
	margin-right: 10px; 
}

.bitebug-delivery-info-single-page-mobile {
	display: none;
	padding: 18px;
	color: #ffffff;
}

#single-addToBasket-form-mobile {
	text-align: center;
}

#single-add-to-basket-mobile {
	/* position: absolute; */
	width: 100%;
	left: 0;
	right: 0;
	max-width: 600px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background: rgba(235, 18, 51, 1);
	color: #ffffff;
}

#single-add-to-basket-mobile:hover {
	background: #ffffff;
	color: rgba(235, 18, 51, 1);
	border: 2px solid rgba(235, 18, 51, 1);
}

#product-actions-mobile {
	margin-top: 0;
}

.alert-menu-modal-mobile {
	display: none;
}

.success-menu-modal-mobile {
	display: none;
}

#bitebug-increment-box-container-mobile {
	text-align: left;
}

.bitebug-fa-minus-circle-product-increment-mobile {
	padding-left: 0;
}

.single-product-desc-mobile > .bitebug-title-product-single {
	font-size: 18px;
	line-height: 22px;
}

.single-product-desc-mobile > .bitebug-quantity-product-single {
	font-size: 24px;
}

.single-product-desc-mobile > .bitebug-price-product-single {
	font-size: 18px;
	margin-top: 0px;
}

.bitebug-table-basket-container {
    border: 1px solid grey;
}
.bitebug-first-td-basket {
	width: 370px;
}

.bitebug-row-tfooter-basket-table {
	background: #E7F2EE;
}

.bitebug-title-item-product-para-single-new-page-checkout {
	color: #202161;
	font-size: 20px;
	margin-bottom: 15px;
}

table > tbody > tr > .bitebug-first-td-basket {
	border-left: 1px solid grey;
}

table > tbody > tr > .bitebug-last-td-basket {
	border-right: 1px solid grey;
	padding-left: 30px;
}

.bitebug-tfooter-new-basket {
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

/*.bitebug-last-rows-basket-new {
	border-left: 1px solid grey;
}*/

.basket-totaltotal-new {
    border-left: 1px solid #ddd;
}

.bitebug-divider-product-row-new-basket {
	height: 1px;
    background: #333;
    margin-bottom: 5px;
    margin-top: 25px;
}

.bitebug-promocode-section-basket-new {
	margin-top: 10px;
}

table > tbody > tr  > .bitebug-central-td-basket {
	padding-left: 30px;
}

table > thead > tr  > .bitebug-th-basket-new-last {
	padding-left: 30px;	
}

table > thead > tr  > .bitebug-th-basket-new-central {
	padding-left: 30px;	
}

table > tfoot > tr > .basket-totaltotal-new {
	padding-left: 30px;
}

.bitebug-input-send-to-a-friend-checkout {
    margin: 15px auto 10px;
    width: 100%;
}

.bitebug-input-send-to-a-friend-checkout > .bitebug-input-send-to-a-friend-checkout-inside {
    background-color: #E7F2EE;
    color: #555555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 36px;
}

#btn-send-to-a-friend-checkout {
    border: 2px solid #E7F2EE;
    color: #ffffff;
    background: #E7F2EE;
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    height: 36px;
}

.bitebug-invite-a-friend-container-checkout-new {
	padding: 0px 5px 4px;
    border: 1px solid rgba(235, 18, 51, 1);
    margin: 20px 0;
}

.bitebug-invite-a-friend-container-text > span {
	color: rgba(235, 18, 51, 1);
    font-family: 'futura-pt', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    padding-left: 5px;
}

.bitebug-invite-a-friend-container-text > .fa-gift {
	color: rgba(235, 18, 51, 1);
	font-size: 24px;
}

.bitebug-invite-a-friend-container-text {
	margin: 19px 0px 0px 20px;
}

.bitebug--expiry-date > button > .filter-option {
	background-color: #E7F2EE;
}

.bitebug-label-dashboard-expirydate-checkout {
	width: 37%;
}

.bitebug--expiry-date-1 {
	margin-right: 5px;
}

.bitebug-label-dashboard-cvv {
	width: 140px;
}

.input-field-container-dashboard > .bitebug-card-expiry-month-1 {
	width: 140px;
}

.bitebug-checkbox-billing-address {
	width: 140px;
}

.bitebug-summer-cart-container {
    padding: 20px;
    border: 1px solid;
}

.bitebug-total-row-delivery {
	border-bottom: none;
}

.bitebug-total-row-delivery span {
	font-family: 'gotham-bold';
}

.bitebug-address-radio-buttons-section-checkout-edit {
	font-family: 'gotham-bok';
    font-size: 12px;	
	float: right;
	padding-top: 3px;
	color: #aaa;
	text-decoration: underline;
}

.bitebug-address-radio-buttons-section-checkout {
	font-family: 'gotham-bok';
    font-size: 12px;
}

.radio label {
	display: block;	
}

.bitebug-radio-first-line {
    background-color: #E7F2EE;
    padding: 12px 30px;	
}

.bitebug-title-radio-section-basket {
    font-family: 'gotham-bold';
    font-size: 13px;
    margin-top: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.bitebug-radio-other-line {
	border-bottom: 1px solid #333;
	padding: 15px 30px;
}

.bitebug-button-create-account-1 {
	width: 85%;
}

.bitebug-create-account-main-col-2 {
	border: 1px solid #333;
    padding: 30px 50px 70px 50px;
    margin-top: 45px;
}

.bitebug-dashboard-title-new-create-account-page {
	margin-bottom: 30px;
}

.bitebug-modal-body-login-modal-login-new-page {
	padding: 0px 20px;
}

.bitebug-social-container-ligin-page {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bitebug-modal-header-login-login-page {
	padding-top: 0;
    padding-bottom: 20px;
}

.bitebug-main-login-button-modal-loginpage {
	margin-bottom: 5px;
}

.bitebug-para-login-page {
	font-family: 'futura-pt', sans-serif;
	font-size: 16px;
}

.bitebug-para-login-page-link {
	font-family: 'futura-pt', sans-serif;
	font-size: 16px;
	text-decoration: underline;
}

.bitebug-social-text-modal-login-page {
	width: 87%;
}

.bitebug-add-address-new-checkoutpage-container {
	display: none;
}

.bitebug-radio-other-line-payment {
	border-top: 1px solid #333;
}

.bitebug-payment-change-new-checkout-container {
	display: none;
}

.bitebug-payment-change-new-checkout-container-visible {
	display: block;
}

.bitebug-add-new-address-text-new-checkout {
    font-family: "futura-pt";
    font-size: 15px;
    color: rgba(235, 18, 51, 1);
    cursor: pointer;
}

.bitebug-ready-to-checkout-text {
	font-family: 'gotham-bok';
	padding-top: 11px;
	padding-bottom: 10px;
}

#btn-send-to-a-friend-checkout i {
	color: rgba(235, 18, 51, 1);
	display: none;
}

.bitebug-input-group-addon {
	padding: 0;
	background-color: rgba(32, 33, 97, 1);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.bitebug-input-group-addon button {
	height: 33px;
	padding-top: 1px;
	background: rgba(32, 33, 97, 1);
	color: #fff;
	font-family: "futura-pt",sans-serif;
	font-weight: 500;
	border: none;
	padding-left: 8px;
	padding-right: 8px;
	border: 2px solid rgba(32, 33, 97, 1);
}

.bitebug-input-group-addon button:hover {
	background: #ffffff;
	color: rgba(32, 33, 97, 1);
}


.bitebug-input-group-addon button[disabled] {
	background: #555;
	border: 2px solid #555;
	color: #ffffff;
}


.bitebug-input-group-addon-input-field {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.bitebug-full-width {
	width: 100%;
}

.bitebug-total-row-3 {
	margin-bottom: 0;
}

.bitebug-span-number-quantity-product-increment {
	width: 23px;
    display: inline-block;
    text-align: center;
}

.bitebug-a-basket-container-img-and-number {
	padding-bottom: 0;
	padding-top: 14px;
}

.bitebug-navbar-icon-basket {
	position: relative;
	top: 4px;
}

input.error {
    border: 1px solid rgb(235, 18, 51);
    box-shadow: 0px 0px 2px rgb(235, 18, 51);
}

.bitebud-bordered-form-altert {
    border: 1px solid rgb(235, 18, 51) !important;
    box-shadow: 0px 0px 2px rgb(235, 18, 51);	
}

.bitebug-navbar-icon-account-logged {
    position: relative;
    top: 3px;
}

#cookie-bar {
	background: #e7f2ee;
	font-family: 'futura-pt', sans-serif;
}

#cookie-bar p {
	color: #333;
	max-width: 950px;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    font-family: 'futura-pt', sans-serif;
    padding: 10px 0px;
    font-size: 12px;
}

#cookie-bar .cb-enable {
	background: none;
    border: 1px solid #333;
    border-radius: 0px;
    color: #333;
	float: right;
	margin-right: 10px;
}

#cookie-bar .cb-enable:hover {
	background: none;
}

.bitebug-relative {
	position: relative;
}

.text-container-poochie-closed {
	max-width: 350px;
	margin: 0 auto;
	padding-top: 50px;
}

.bitebug-section-poochie-closed {
    height: 300px;
    background: url('../images/poochie-closed-header-retina.png') rgba(231, 241, 238, 0.4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.bitebug-img-poochie-closed {
	max-height: 100%;
	margin: 0 auto;
}

.bitebug-title-poochie-closed {
    color: rgba(235, 18, 51, 1);
    text-transform: uppercase;
    font-family: 'futura-pt', sans-serif;	
}

.bitebug-heading-poochie-closed {
    color: rgba(32, 33, 97, 1);
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bitebug-button-poochie-closed {
	color: rgba(235, 18, 51, 1);
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid;
    font-family: 'futura-pt', sans-serif;
    background-color: rgba(231, 241, 238, 0.4);
    padding: 5px 15px;
}
