@media (min-width: 768px) {
	#bitebug-logo-mobile {
		display: none;
	}
	
	.bitebug-col-4-dashboard-social {
		width: 32%;
	}
	
	.bitebug-col-4-dashboard-social-middle {
		margin: 0 2%;
	}

	.modal-dialog {
	  	margin: 4% auto 12px
	}

	.bitebug-modal-age-check-dialog {
		width: 430px;
	}

	.bitebug-second-row-homepage-container {
		padding-top: 33px;
		padding-bottom: 33px;
	}

	.bitebug-logo-dog-animated {
   	 	margin-top: 17px;
   	 	width: 88px;
	}

	.bitebug-second-row-homepage-maintitle {
		line-height: 26px;
	}

	.bitebug-title-third-row-homepage {
    	margin-bottom: 27px;
    	margin-top: 0px;
	}

	.bitebug-third-row-homepage-container {
    	padding-bottom: 50px;
	}
	
	.bitebug-set-delivery-time-button-basket-review {
		width: 100%;
	}

}

@media (min-width: 991px) {
	/*.bitebug-modal-dialog-homepage {
		width: 1000px;
	}*/
	
	.bitebug--time-delivery-basket-review:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 49%;
	}
	
	.bitebug-checkout-btn-sign-in {
		position: absolute;
	    bottom: 8px;
	    width: 91%;
	    height: 32px;
	}
	
	.bitebug-col-sign-in-step1 {
		position: relative;
	}
	
	.bitebug-col-sign-in-step1 {
		height: 142px;
	}
	
	.modal-content {
		width: 79%;
	}
	
	.bitebug-social-text-dashboard {
		width: 81%;
		margin-left: 1%;
  		float: left;
	}
	
	.bitebug-dashboard-social-img {
		float: left;
 		width: 16%;
	}
	
	.bitebug-product-ordered-real-content-product-name {
		padding-top: 47px;
	}
	
	.bitebug-product-ordered-real-content-quantity {
		padding-top: 47px;
	}
	
	.bitebug-product-ordered-real-content-item-price {
	  	padding-top: 47px;
	  	text-align: center;
	}
	
	.bitebug-product-ordered-real-content-button {
		padding-top: 43px;
	}
	
}

@media (max-width: 991px) {
	
	.bitebug-dashboard-title-new-create-account-page {
	    margin-bottom: 10px;
	}
	
	.bitebug-social-img-step-1 {
		width: 9%;
	}
	
	.bitebug-social-text-signin-step1 {
		width: 89%;
	}
	
	.bitebug-navbar-tablet-and-mobile {
		position: fixed;
	}
	
	#bitebug-big-container {
		margin-top: 50px;
	}

	.bitebug-dashboard-social-img {
    	height: 37px;
	}
	
	.bitebug-dashboard-title {
		font-size: 21px;
	}
	
	.bitebug-info-sidebar-contact {
		font-size: 12px;
	}
	
	.bitebug-button-contact {
		font-size: 16px;
		margin-bottom: 10px;
	}
	
	.bitebug-main-title-contact {
		font-size: 21px;
	}
	
	.bitebug-product-image-product-page-single {
		max-height: 140px;
	}
	
	.bitebug-learn-more-about-delivery {
		font-size: 12px;
	}
	
	.bitebug-button-basket-secure-pay {
		font-size: 16px;
	}
	
	.bitebug-total-row {
		font-size: 12px;
	}
	
	.bitebug-main-title-orders-summary {
		font-size: 25px;
	}
	
	.bitebug-last-row-table-basket-tablet-and-mobile {
		font-size: 12px;
	}
	
	.bitebug-single-product-price {
		font-size: 12px;
	}
	
	.bitebug-remove-single-product-from-basket {
		font-size: 12px;
	}
	
	.bitebug-single-product-description-basket {
		font-size: 12px;
	}
	
	.bitebug-title-first-row-table-basket-tablet-and-mobile {
		font-size: 12px;
	}
	
	.bitebug-subtitle-basket {
		font-size: 12px;
		line-height: 17px;
	}
	
	.bitebug-main-title-basket {
		font-size: 21px;
	}
	
	.bitebug-text-description-single-product {
		font-size: 12px;
	}
	
	.bitebug-price-product-single {
		font-size: 21px;
	}
	
	.bitebug-quantity-product-single {
		font-size: 21px;
	}
	
	.bitebug-title-product-single {
		font-size: 21px;
	}
	
	.bitebug-second-row-homepage-title-small {
		font-size: 11px;
	}
	
	.bitebug-input-group-first-row input {
		font-size: 12px;
	}
	
	.bitebug-first-input-field-footer {
		font-size: 12px;
	}

	.bitebug-input-field-email-footer {
		font-size: 12px;
	}
	
	.para-last-row-footer {
		font-size: 10px;
	}
	
	.para-info-footer-strong {
		font-size: 10px;
	}
	
	.para-info-footer {
		font-size: 10px;
	}
	
	.bitebug-tweet-time {
		font-size: 10px;
	}
	
	.bitebug-footer-tweet-container {
		font-size: 10px;
	}
	
	.bitebut-tweet-content {
		font-size: 10px;
	}
	
	.bitebut-tweet-content {
		font-size: 12px;
	}
	
	.bitebug-title-footer {
		font-size: 10px;
	}
	
	.bitebug-title-small-col-home {
		font-size: 14px;
	}
	
	.bitebug-second-row-homepage-subtitle {
		font-size: 21px;
		line-height: 26px;
	}
	
	.bitebug-second-row-homepage-maintitle {
		font-size: 21px;
    	line-height: 26px;
	}
	
	.bitebug-input-group-first-row {
		width: 246px;
	}
	
	.bitebug-homepage-main-button {
		font-size: 17px;
	}
	
	.bitebug-para-subtitle-homepage {
		font-size: 13px;
		margin-top: 0;
	}
	
	.bitebug-first-row-product-page-title-strong {
		font-size: 24px;
    	line-height: 28px;
	}
	
	.bitebug-second-row-homepage-title-light {
		font-size: 24px;
    	line-height: 28px;
	}
	
	.bitebug-title-item-product-para {
		font-size: 18px;
		line-height: 22px;
	}
	
	.bitebug-table-responsive {
		display: none;
	}
	
	.bitebug-main-title-orders-summary {
		width: 100%;
	}
	
	.bitebug-summary-container {
	  	width: 100%;
	}
	
	.bitebug-col-homepage {
	  	margin-bottom: 38px;
	}
	
	.bitebug-third-row-homepage-container {
		padding-bottom: 0;
	}
	
	.bitebug-contact-right-side-first-row {
	    margin-top: 30px;
	}
	
	.bitebug-contact-main-container {
		margin-bottom: 40px;
	}
	
	.bitebug-left-side-dashboard {
		display: none;
	}
	
	.bitebug-list-of-products-container {
		height: 230px;
  		width: 20%;
	}
	
	.bitebug-navbar-right-mobile {
		margin-right: 0;
	}
	
	.bitebug-first-row-dashboard-mobile {
		display: block;
	}
	
	.bitebug-first-row-dashboard-desktop {
		display: none;
	}
	
	.bitebug-para-products-ordered {
		font-size: 12px;
	}
	
	.bitebug-product-ordered-title-heading {
		font-size: 12px;
	}
	
	.bitebug-product-ordered-info-heading {
		font-size: 14px;
	}
	
	.bitebug-button-product-ordered {
		font-size: 15px;
	}
	
	.bitebug-dashboard-subtitle {
		font-size: 14px;
	}
	
	.bitebug-rewards-text {
		font-size: 13px;
	}
	
	.bitebug-rewards-number {
		font-size: 30px;
	}
	
	.bitebug-social-text-dashboard {
		font-size: 16px;
	}
	
	.bitebug-create-account-heading {
		font-size: 14px;
	}
	
	.bitebug-title-order-status {
		font-size: 25px;
	}
	
	.bitebug-para-left-side-order-status-information {
		font-size: 12px;
	}
	
	.bitebug-para-right-side-order-status-information {
		font-size: 14px;
	}

	.bitebug-remove-single-product-from-basket span {
		bottom: 1px;
	}
	
	.bitebug-margin-top-zero-for-toggle {
		margin-top: 0px !important;
	}
	
	.bitebug-position-for-toggle {
		position: relative;
	}

	.bitebug-social-container-modal-login {
		margin-bottom: 10px;
	}
	
	.bitebug-second-row-homepage-title-light-homepage-bar {
	    line-height: 30px;
	    padding-left: 15px;
	    padding-right: 10px;
	}
	
	.bitebug-bar-home-information-section > .bitebug-first-row-homepage-container {
	    padding: 15px 0px 15px 0px;
	}
	
	.bitebug-second-row-homepage-title-light-homepage-bar a {
		display: block;
	}
	
	.bitebug-btn-product-change-qty {
		font-size: 25px;
	}
	
	.bitebug-span-number-quantity-product-increment {
		font-size: 20px;
	}
	
	.bitebug-basket-items-number-1 {
		top: 17px;
	}
	
	#cookie-bar {
		top: 50px;
	    background-color: #e7f2ee;
	    z-index: 3;
	    text-align: center;
	    width: 100%;
	    position: absolute;
	}
	
}

@media (max-width: 991px) and (min-width: 768px) { /* Style only for tablet */ 
	
	#cookie-bar p {
		margin-left: 20px;
	}
	
	.bitebug-input-field-dashboard-tablet-fix {
		width: 70%;
	}
	
	.bitebug-label-dashboard-tablet-fix {
		width: 30%;
	}
	
	.bitebug-contact-main-container {
	  	width: 580px;
	}
	
	.bitebug-basket-main-container {
	  	width: 630px;
	  	margin-bottom: 20px;
	}
	
	.bitebug-title-item-product-container-single {
		width: 100%;
	}
	
	.bitebug-more-product-container {
		width: 630px;
	}
	
	.bitebug-title-order-status {
		margin-bottom: 25px;
	}
	
	.bitebug-col-4-dashboard-friend-invited {
		width: 50%;
	}
	
	.bitebug-container-rewards {
	  	width: 580px;
	}
	
	.bitebug-list-of-products-big-container-single {
		width: 100%;
		margin-top: 20px;	
	}
	
	.bitebug-list-of-products-container-single {
		width: 20%;
		padding: 0;
	}
	
	.bitebug-contact-information-container {
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	
	.bitebug-row-imgs-sidebar-contact {
		width: 59%;
		display: inline-block;
		vertical-align: top;
	}
	
	.bitebug-img-container-sidebar-contact {
		width: 33%;
		padding: 0px 0px 10px 10px;
	}
	
	.bitebug-container-item-insert-picture-mobile-my-account {
		width: 18%;
	}
	
	.bitebug-dashboard-main-content-container {
	  	width: 580px;
	}
	
	.bitebug-product-ordered-real-content {
		height: 83px;
	}
	
	.bitebug-product-ordered-real-content-product-name {
		padding-top: 30px;
	}
	
	.bitebug-product-ordered-real-content-quantity {
	  	padding-top: 30px;
	  	width: 15%;
	}
	
	.bitebug-product-ordered-real-content-item-price {	  	
	  	padding-top: 30px;
	  	width: 20%;
	}
	
	.bitebug-product-ordered-real-content-button {
		padding-top: 24px;
	}
	
	.bitebug--time-delivery-basket-review:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		 width: 100%;
		 margin-top: 5px;
	}
	
	.bitebug-label-dashboard-billing-postcode {
		width: 100%;
	}
	
}

@media (max-width: 767px) {
	
	.bitebug-section-poochie-closed {
	    height: 230px;
	}
	 
	.bitebug-heading-poochie-closed {
	 	font-size: 19px;
	}

	#cookie-bar p {
		text-align: center;
	}
	
	#cookie-bar .cb-enable {
		float: none;
	}
	
	.bitebug-modal-header-login-login-page {
		padding-bottom: 0;
	}
	
	.bitebug-span-number-quantity-product-increment {
		width: 17px;
		font-size: 14px;
   		position: relative;
    	bottom: 2px;
	}
	
	.bitebug-btn-product-change-qty {
	    font-size: 21px;
	}
	
	.bitebug-ready-to-checkout-text {
		text-align: center;
	}
	
	.bitebug-bar-home-information-section > .bitebug-first-row-homepage-container {
	    padding: 20px 0px 20px 0px;
	}
	
	.bitebug-second-row-homepage-title-light-homepage-bar {
		line-height: 20px;
	}
	
	.bitebug-no-padding-mobile {
		padding: 0;
	}
	
	.bitebug-para-create-account-asterisk-info {
		margin-top: 15px;
	}
	
	.para-last-row-footer-developed {
	    position: absolute;
	    right: 15px;
	    margin-top: 20px;
	}
	
	#bitebug-homepage-wrong-address {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	#bitebug-homepage-wrong-address-input-field {
		width: 100%;
		margin-bottom: 15px;
	}
	
	.bitebug-select-option-homepage-time-delivery {
	    display: block;
	    margin-bottom: 15px;
	}
	
	#bitebug-homepage-edit-enter-address {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	
	#bitebug-homepage-edit-address-input-field {
		width: 100%;
		margin-bottom: 15px;
	}
	
	.bitebug-title-edit-enter-address-homepage {
		max-width: 230px;
    	margin: 0 auto;
	}
	
	.bitebug-input-group-first-row {
	    width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.bitebug-title-footer {
		margin-bottom: 14px;
		font-size: 14px;
	}

	.bitebug-second-row-homepage-maintitle {
		/* Maybe the style for the mobile is missing */
		font-size: 17px;
    	line-height: 22px;
	}

	#bitebug-invite-friends-h3 {
		margin-top: 15px;
	}

	.bitebug-faqs-left-side-first-row {
		margin-bottom: 24px;
	}

	.bitebug-first-row-homepage-container {
		padding: 30px 0px 30px 0px;
	}

	.bitebug-first-row-product-page-title-strong {
		font-size: 19px;
		line-height: 24px;
	}

	.bitebug-second-row-homepage-title-light {
		font-size: 19px;
		line-height: 24px;
	}

	.bitebug-tweet-time {
		margin-bottom: 8px;
	}

	.bitebug-logo-dog-animated {
		margin-top: 12px;
   		width: 81px;
	}

	.bitebug-homepage-icon {
		height: 40px;
		margin: 0 auto 15px;
	}

	.bitebug-third-row-homepage-container {
		padding-top: 22px;
	}

	.bitebug-title-third-row-homepage {
		margin-bottom: 20px;
	}

	.bitebug-second-row-homepage-container {
		padding-top: 33px;
		padding-bottom: 33px;
	}
	
	#bitebug-para-create-account-checkbox {
		width: 90%;
  		vertical-align: top;
	}
	
	.bitebug-info-mail-refer {
		font-size: 12px;
	}
	
	.bitebug-name-friend-dashboard {
		font-size: 12px;
	}
	
	.bitebug-label-dashboard-full {
		font-size: 12px;
	}
	
	.bitebug-dashboard-subtitle {
		font-size: 14px;
    	padding-right: 10px;
    	line-height: 17px;
	}
	
	.bitebug-dashboard-title {
		font-size: 25px;
	}
	
	.bitebug-button-contact {
		width: 100%;
	}
	
	#bitebug-textarea-contact-page {
		height: 280px;
	}
	
	.bitebug-label-input-contact {
		font-size: 12px;
	}
	
	.bitebug-subtitle-contact {
		font-size: 12px;
	}
	
	.bitebug-main-title-contact {
		font-size: 25px;
		margin-bottom: 10px;
	}
	
	.bitebug-main-title-orders-summary {
		margin-bottom: 15px;
  		margin-top: 40px;
	}
	
	.bitebug-increment-box-container-basket {
		margin-left: 8px;
	}
	
	.bitebug-increment-box-container-basket > button {
		padding: 0;
	}
	
	.bitebug-main-title-basket {
		font-size: 25px;
	}
	
	.bitebug-title-other-proucts-mobile {
		margin-top: 15px;
  		padding-top: 15px;
	}
	
	.bitebug-title-product-single {
		font-size: 18px;
		line-height: 22px;
	}
	
	.bitebug-quantity-product-single {
		font-size: 18px;
	}
	
	.bitebug-price-product-single {
		font-size: 18px;
	}
	
	.bitebug-increment-box-product-quantity-order-history {
		padding-top: 0;
	}
	
	.bitebug-increment-box-product-quantity-single-product {
		bottom: 50px;	
	}
	
	.bitebug-title-small-col-home {
	  	font-size: 14px;
	  	line-height: 18px;
	}
	
	.bitebug-second-row-homepage-subtitle {
		font-size: 17px;
		line-height: 22px;
	}
	
	.bitebug-para-subtitle-homepage {
		font-size: 12px;
		margin-top: 0;
	}
	
	.bitebug-homepage-main-button {
		font-size: 14px;
	}
	
	#input-field-container-dashboard-friend-name {
	  	padding-right: 0px;
	}
	
	.bitebug-title-info-dashboard-3 {
		margin-top: 20px;	
	}
	
	.bitebug-navbar-right-mobile {
		position: absolute;
		right: 0;
	}
	
	.bitebug-para-col-homepage {
		border-bottom: none;
		padding-bottom: 0px;
	}
	
	.bitebug-border-right-light {
		border: none;
	}
	
	.bitebug-learn-more-about-delivery {
		text-align: center;
	}
	
	.single-product-container {
	  	margin: 20px auto 0px;
	}
	
	.bitebug-more-product-section-desktop {
		display: none;
	}
	
	.bitebug-more-product-section-mobile {
		display: block;
	}
	
	.bitebug-left-side-single-product {
		height: 170px;
	}
	
	.bitebug-right-side-single-product {
		height: 170px;
		border: none;
		padding-right: 0px;
		padding-bottom: 0px;
  		padding-top: 0px;
  		padding-left: 10px;
  		min-height: auto;
	}
	
	.bitebug--product-quantity-single-product {
		margin-top: 20px;
	}
	
	.bitebug-button-single {
		bottom: 0;
	    left: 10px;
	  	width: 95%;
	}
	
	.bitebug-product-list-product-page {
		padding-top: 0;
	}
	
	.bitebug-col-rewards-small {
		margin-bottom: 10px;
	}
	
	#bitebug-logo-tablet {
		display: none;
	}
	
	.bitebug-icon-footer-container {
	    position: absolute;
	    top: 0;
	    right: 15px;
	}
	
	.bitebug-title-footer {
		margin-bottom: 14px;
		font-size: 12px;
	}
	
	.para-info-footer {
		margin-bottom: 1px;
		font-size: 12px;
	}
	
	.bitebug-col-footer-small-container {
 	    max-width: 100%;
	}
	
	 .bitebug-title-footer-2-for-mobile {
	 	margin-top: 25px;
	 }
	 
	 .para-info-footer-for-mobile {
	 	margin-bottom: 20px;
	 }

	.bitebug-last-row-footer {
		margin-left: 0;
		margin-right: 0;
	}
	
	.para-last-row-footer-copyright {
		padding-top: 8px;
		float: none;
	}
	
	.bitebug-mobile-menu-container {
		width: 270px;
	}
	
	.bitebug-dashboard-main-content-row {
	   margin-bottom: 30px;
	}
	
	.bitebug-info-product-ordered-title-heading-order-placed {
		width: 50%;
		margin-bottom: 10px;
	}
	
	.bitebug-info-product-ordered-title-heading-total {
		width: 50%;
		margin-bottom: 10px;
	}
	
	.bitebug-info-product-ordered-title-heading-delivery {
		width: 50%;
	}
	
	.bitebug-info-product-ordered-title-heading-payment-method {
		width: 50%;
	}
	
	.bitebug-info-product-ordered-title-heading-chevron {
		width: 100%;
		text-align: center;
	}
	
	.bitebug-product-ordered-real-content-img {
		display: none;
	}
	
	.bitebug-product-ordered-real-content-product-name {
	  	width: 50%;
	}
	
	.bitebug-product-ordered-real-content-quantity {
	  	width: 50%;
	}
	
	.bitebug-product-ordered-real-content-item-price {
		width: 50%;
	}
	
	.bitebug-product-ordered-real-content-button {
		width: 50%;
	}
	
	.bitebug-button-product-ordered {
		width: 100%;
	}
	
	.bitebug-product-ordered-real-content {
 		height: 31px;
 	}
 	
 	.bitebug-para-products-ordered {
 		display: inline-block;
 		padding-right: 10px;
 	}
 	
 	.bitebug-para-products-ordered-edit {
 		display: inline-block;
 		font-size: 12px;
 		margin-top: 0;
 	}

 	.bitebug-para-products-ordered-edit:hover {
 		margin-top: 0;
 	}
 	
 	.panel-default>.panel-heading+.panel-collapse>.bitebug-panel-body-ord {
 		padding-bottom: 0;
 	}
 	
 	.bitebug-social-container-dashboard {
	    margin-bottom: 10px;
	}
	
	.bitebug-dashboard-button {
	  	width: 100%;
	  	float: none;
	  	margin-bottom: 30px;
	  	margin-top: 10px;
	 }
	 
	 #bitebug-second-row-dashboard-refer {
	  	margin-bottom: 20px;
	}
	
	.bitebug-dashboard-main-content {
	    padding-bottom: 0px;
	}
	
	.bitebug-label-dashboard {
		width: 100%;
		font-size: 12px;
	}
	
	.bitebug-input-field-dashboard {
		width: 100%;
	}
	
	.bitebug-social-text-dashboard {
		width: 85%;
	}
		
	/*.bitebug-col-4-dashboard {
		padding: 0;
	}*/
	
	.bitebug-col-6-dashboard {
		padding: 0;
	}
	
	.bitebug-input-field-dashboard-small {
	  	width: 32.3%;
	  	margin-right: 1%;
	  	margin-left: 0;
	}
	
	.bitebug-title-info-dashboard-2 {
		margin-top: 15px;
	}
	
	.bitebug-product-list-product-page-desktop {
		display: none;
	}
	
	.bitebug-product-list-product-page-mobile {
		display: block;
	}
	
	.bitebug-info-product-ordered-title-heading-order-placed-modal-homepage {
	  	width: 50%;
	}
	
	.bitebug-info-product-ordered-title-heading-total-modal-homepage {
	  	width: 50%;
	}
	
	.bitebug-info-product-ordered-title-heading-delivery-modal-homepage {
	  	width: 50%;
	  	margin-top: 10px;
	}
	
	.bitebug-info-product-ordered-title-heading-payment-method-modal-homepage {
	 	width: 50%;
	  	margin-top: 10px;
	}
	
	.bitebug-product-ordered-real-content-img-modal-homepage {
		display: none;
	}
	
	.bitebug-product-ordered-real-content-product-name-modal-homepage {
		width: 50%;
		padding-top: 0px;
	}
	
	.bitebug-product-ordered-real-content-quantity-modal-homepage {
		width: 50%;
		padding-top: 0px;
	}
	
	.bitebug-product-ordered-real-content-item-price-modal-homepage {
		height: initial;
  		width: 50%;
  		padding-top: 0px;
  		text-align: left;
	}
	
	.bitebug-product-ordered-real-content-button-modal-homepage {
		height: initial;
  		width: 50%;
  		padding-top: 0px;
	}

	#bitebug-modal-content-login-modal {
		width: auto;
	}

	.bitebug-modal-body-login-modal {
		padding: 10px 20px 20px 20px;
	}

	.bitebug-button-the-usual {
		float: none;
		width: 100%;
	}

	.bitebug-button-theusual {
		float: none;
		width: 100%;
	}

	.bitebug-button-theusual-2 {
		margin-left: 0;
		margin-top: 10px;
	}

	.bitebug-increment-box-container {
		float: none;
		width: 100%;
		text-align: center;
		margin: 0 0 10px 0;
	}

	.bitebug-col-products-page-mobile {
		height: 250px;
	}

	.bitebug-right-side-single-product {
		min-height: 20px;
	}

	#no-delivery-txt {
		padding: 0 23px;
	}

	.bitebug-delivery-info-single-page {
		display: none;
	}

	.bitebug-delivery-info-single-page-mobile {
		display: block;
		font-family: 'gotham-bok', sans-serif;
	}

	.bitebug-address-radio-buttons-section-checkout-edit {
	    width: 12%;
	    text-align: right;
	}

	.bitebug-address-radio-buttons-section-checkout-text {
		width: 87%;
		display: block;
		float: left;
	}

	.basket-total-text {
		float: left;
	}

	.basket-total-text-delivery {
		float: left;
		font-family: "gotham-bok",sans-serif;
	}

	.basket-total-delivery-amount {
		font-family: "gotham-bok",sans-serif;
	}
}


@media (max-width: 440px) {
	.bitebug-create-account-main-col-2 {
	    border: 1px solid #333;
	    padding: 25px 10px 20px 10px;
	    margin-top: 25px;
	}
}

@media (max-width: 400px) {
	
	.bitebug-developed-div {
		position: relative;
   	 	bottom: 23px;
   	 	text-align: left;
	}
	
	.bitebug-social-img-step-1 {
		width: 11%;
	}
	
	.bitebug-social-text-signin-step1 {
		width: 87%;
	}
}

@media (max-width: 350px) {
	
	.bitebug-right-side-single-product {
		min-height: 20px;
	}

	#bitebug-main-img-single-product-single-page {
		width: 100%;
		height: auto;
	}

	.bitebug-text-description-single-product {
		margin-top: 0;
	}

	.bitebug-text-description-single-product {
		margin-top: 10px;
	}
}