#bitebug-section-map-and-search-container {
	border-top: 4px solid #e7f2ee;
}

.bitebug-navbar-tablet-and-mobile {
	border-bottom: none;
}

#find-me-pin {
	display: block;
}

#find-me-section {
	display: none;
}

#find-me-addressbox {
	display: block;
}

#find-me-addressbox-text-content-address {
	display: none;
}

#find-me-pin #find-me-pin-text span, #find-me-pin #find-me-pin-text span:focus {
    color: inherit;
    display: block;
    padding: 13px 12px;
}

#text-write-position {
    background: #fff none repeat scroll 0 0;
    color: #555;
    display: none;
    font-family: "futura-pt",sans-serif;
    font-size: 14px;
    left: 0;
    line-height: 16px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 250px;
    width: 313px;
}

#input-write-position {
	border: 1px solid #202161;
	width: 274px;
	padding: 11px 8px;

}

#input-write-btn {
    background: #202161 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 38px;
    border: 2px solid #202161;
}

#input-write-btn:hover {
	background: #fff;
	color: #202161;
}

#find-me-pin-text span {
	cursor: default;
}