#bitebug-shadow-canvas {
    position: absolute;
    background: #000000;
    opacity: 0.5;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: none;
}

.poochie-page-content-wrapper-overflow {
    overflow: hidden;
    height: 100%;
}

#poochie-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#bitebug-navbar-container {
    padding: 20px;
}

#poochie-wrapper.toggled {
    padding-left: 250px;
}

#bitebug-navbar-container {
    width: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #E7F2EE;
}

#poochie-wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#poochie-page-content-wrapper {
    width: 100%;
    position: absolute;
}

#poochie-wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    /* #poochie-wrapper {
        padding-left: 270px;
    }

    #poochie-wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 270px;
    }

    #poochie-wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #poochie-page-content-wrapper {
        position: relative;
    }

    #poochie-wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    } */
}