/* hi! */

.bitebug--time-delivery:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 60px;
	border: 1px solid #e7f2ee;
	border-radius: 0px;
}

.bitebug--time-delivery > button:hover,
.bitebug--time-delivery > button:focus,
.bitebug--time-delivery > button:active {
	background: none;
	border-radius: 0px;
	box-shadow:none;
	outline: 0;
}

.bitebug--time-delivery > button {
  	box-shadow: none !important;
  	background-color: #e7f2ee !important;
  	border-radius: 0px !important;
	border-color: #e7f2ee !important;
  	border: 1px solid;
  	padding: 0;
}

.bitebug--time-delivery > button > .filter-option {
	background-color: #fff;
	padding-left: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
  	font-family: futura-pt;
}

.bitebug--time-delivery > button > .caret {
	right: 8px !important;
}

.bitebug--time-delivery > .dropdown-menu {
	padding: 0;
	box-shadow: none;
  	border-radius: 0px;
  	border: 1px solid #eef2ee;
  	font-family: futura-pt;
}

.bitebug--time-delivery > .dropdown-menu > .dropdown-menu > li > a:active,
.bitebug--time-delivery > .dropdown-menu > .dropdown-menu > li > a:focus,
.bitebug--time-delivery > .dropdown-menu > .dropdown-menu > li > a:hover {
	outline: 0;
}

.bitebug--time-delivery > .dropdown-menu > .dropdown-menu {
	border-radius: 0px;
}