@greytext: rgb(70, 71, 73);
@bluetext: #202161;
@poochieBlue: rgb(32, 33, 97);
@poochieRed: rgb(235, 18, 51);
@poochieLightBlue: #e7f2ee;
@poochieLightGrey: #cccccc;

/* Reset Bootstrap */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: inherit;
    color: inherit;
}

.bitebug-btn {
    color: #555555;
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid #ffffff;
    font-family: "futura-pt",sans-serif;
    background-color: #ffffff;
    padding: 6px 15px;
    font-weight: 500;
    font-size: 14px;
}

.bitebug-btn-default {
    border: 2px solid @poochieBlue;
    color: @poochieBlue;
}

.bitebug-btn-default:hover, .bitebug-btn-default:focus {
    border: 2px solid @poochieBlue;
    color: #ffffff;
    background-color: @poochieBlue;
}

.bitebug-btn-danger {
    border: 2px solid @poochieRed;
    color: #ffffff;
    background-color: @poochieRed;
}

.bitebug-btn-danger:hover, .bitebug-btn-danger:focus {
    border: 2px solid @poochieRed;
    color: @poochieRed;
    background-color: #ffffff;
}

.bitebug-btn-primary {
    border: 2px solid @poochieBlue;
    color: #ffffff;
    background-color: @poochieBlue;
}

.bitebug-btn-primary:hover, .bitebug-btn-primary:focus {
    border: 2px solid @poochieBlue;
    color: @poochieBlue;
    background-color: #ffffff;
}

/* Bootstrap modals */
.modal-title {
    font-size: 13px;
    font-family: "montserrat",sans-serif;
}

.modal-body {
    font-family: "gotham-bok",sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.modal-footer {

}

.navbar-right {
    margin-right: 0;
}

.panel {
	box-shadow: none;
}

.inline {
    display: inline;
}

.error-color {
    color: @poochieRed;
}

#bitebug-big-container {
    position: relative;
}

#bitebug-main-container {
    position: relative;
}

#set-pin {
	display: none;
	height: 300px;
	width: 100%;
	position: absolute;
	top: 0;

	#pin-container {
		display: block;
		position: relative;
		height: 36px;
		width: 24px;
		top: 300px / 2 - 36;
		margin-left: auto;
		margin-right: auto;
	}
}

#map-canvas-home {
	display: block;
	height: 300px;
	width: 100%;
}

#bitebug-error-homepage {
	display: none;
    font-family: 'gotham-bok', sans-serif;
    font-size: 12px;
    margin: 15px 0 0;
    padding: 2px 10px;
    ul {
    	padding: 5px 12px;
    }
}

input.bitebug-enter-address-sidebar {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: none;
}

input.bitebug-enter-address-sidebar:focus {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: none;
}

#bitebug-error-create-account {
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    ul {
    	padding: 5px 12px;
    }
}

p#notfound {
	font-family: 'futura-pt', sans-serif;
	font-size: 25px;
	letter-spacing: 1px;
	padding: 6px 0px;
	color: @bluetext;
	display: none;
	margin-top: 28px;
}

p#foundyou {
	font-family: 'futura-pt', sans-serif;
	font-size: 25px;
	letter-spacing: 1px;
	padding: 6px 0px;
	color: @bluetext;
	display: none;
	margin-top: 28px;
}

#alert-menu-modal {
    display: none;
    font-family: 'futura-pt', sans-serif;
    font-size: 15px;
    margin-top: 14px;
    padding: 6px;
    margin-bottom: 0;
}

#success-menu-modal {
	display: none;
    font-family: 'futura-pt', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding: 6px;
    margin-bottom: 0;
}

.alert-menu-modal {
    display: none;
    font-family: 'futura-pt', sans-serif;
    font-size: 15px;
    margin-top: 14px;
    padding: 6px;
}

.success-menu-modal {
	display: none;
    font-family: 'futura-pt', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding: 6px;
}

#single-add-to-basket {
	/* position: absolute; */
}

#single-add-to-basket:hover {
	background: rgba(235, 18, 51, 1);
	color: #ffffff;
	border: 2px solid rgba(235, 18, 51, 1);
}

.product-actions {
	float: left;
	width: 50%;
	margin: 0;
	margin-top: 12px;
}

.bitebug-increment-box-product-quantity-single-product {
	position: relative;
	bottom: 0;
	margin-top: 8px;
}

.bitebug-button-single {
	right: auto;
	bottom: auto;
}

.btnaddcontainer {
	text-align: right;
}

.bitebug-navbar-tablet-and-mobile {
    z-index: 4;
    margin-bottom: 0;
}

#errorsmobile {
	display: none;
}

.basket-empty-msg {
    padding: 10px;
    text-align: center;
    h3 {
	    font-family: futura-pt;
	    font-size: 16px;
	    font-weight: 200;
	    margin-bottom: 15px;
    }
}

.btn-basket-empty {
    background: #202161 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-family: futura-pt;
    font-size: 14px;
    padding: 5px 20px;
    text-transform: uppercase;
    width: 100%;
}

#bitebug-button-dropmenu-basket {
    background-color: rgba(235, 18, 51, 1);
    border: 2px solid rgba(235, 18, 51, 1);
    border-radius: 0;
    color: #ffffff;
    float: left;
    font-family: futura-pt;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    margin-right: 2%;
    text-transform: uppercase;
    width: 100%;
}

#bitebug-button-dropmenu-basket:hover {
    background: #ffffff;
    color: rgba(235, 18, 51, 1);
}

.bitebug-confirm-pass-user {
    display: none;
}

.bitebug-user-details {
    margin-bottom: 15px;
    border-bottom: 2px solid @poochieBlue;
    margin-bottom: 30px;
    padding: 0 0 37px;
    margin-top: 10px;
}

#bitebug-user-details-nav {
    border-bottom: 2px solid @poochieBlue;
    li {
        background: @poochieLightBlue;
        a {
            padding: 10px;
            color: #555555;
            cursor: pointer;
            font-family: 'futura-pt', sans-serif;
            font-size: 16px;
            border: none;
            border-radius: 0;
            span.sub-title {
                text-transform: uppercase;
                font-weight: 500;
            }
        }
        a.active {
            color: #ffffff;
            background: @poochieBlue;
            border-radius: 0;
        }
        a:hover, a:focus {
            color: #ffffff;
            background: @poochieBlue;
            border: none;
            border-radius: 0;
        }

        a[disabled] {
            background: @poochieLightGrey;
            color: #555555;
            cursor: default;
        }
        a[disabled]:hover, a[disabled]:focus {
            background: @poochieLightGrey;
            color: #555555;
            cursor: default;
        }
    }
    li.active {
        color: #ffffff;
        background: @poochieBlue;
        > a {
            color: #ffffff;
            background: @poochieBlue;
            border-radius: 0;
        }
    }
    li:hover {
        color: #ffffff;
        background: @poochieBlue;
    }
}

.bitebug-checkout-tab-content {
    margin-top: 27px;
}

.checkout-subtitle {
    color: @poochieRed;
    font-family: "futura-pt",sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.checkout-log-in {
    margin-bottom: 10px;
}

.bitebug-button-basket-secure-pay[disabled] {
    background: @poochieLightGrey;
    border: 2px solid @poochieLightGrey;
    color: #ffffff;
}

.bitebug-button-basket-secure-pay[disabled]:hover {
    background: @poochieLightGrey;
    border: 2px solid @poochieLightGrey;
    color: #ffffff;
}


.bitebug-checkout-btn-container {
    text-align: right;
}

#additional-notes-driver-h3 {
    margin-top: 20px;
}

#additional-notes-driver {
    width: 100%;
    margin-bottom: 20px;
}

.bitebug-checkout-btn-next {
    padding: 5px 60px;
}

.bitebug-checkout-input-withbtn {
    width: 72%;
}

.bitebug-checkout-inputbtn > button {
    background: #202161 none repeat scroll 0 0;
    border: 2px solid #202161;
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
    height: 32px;
    padding: 3px 0;
    width: 100%;
}

.bitebug-checkout-inputbtn > button:hover {
    background: #ffffff;
    border: 2px solid #202161;
    color: @poochieBlue;
}

input.bitebug-input {
    background-color: #e7f2ee;
    border: medium none;
    font-family: 'gotham-bok', sans-serif;
    font-size: 12px;
    padding: 8px 10px;
}

label.bitebug-form-label {
    display: block;
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    padding-top: 8px;
}

input.bitebug-input-full-width {
    width: 100%;
}

label.bitebug-form-label-float {
    float: left;
    width: 22%;
    display: block;
    font-family: 'gotham-bok', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 2px;
    padding-top: 8px;
}

.bitebug-input-group-row {
    margin-bottom: 10px;
}

.bitebug-card-expiry-month {
    width: 65px;
}

.bitebug-card-expiry-year {
    width: 80px;
}

#bitebug-checkout-saved-addresses-link {
    color: @poochieBlue;
    text-decoration: underline;
}

#bitebug-checkout-saved-addresses-p {
    text-align: right;
}

#bitebug-checkout-saved-addresses {
    margin-top: 15px;
}

.bitebug-checkout-address-sigle {
    margin-top: 15px;
}

.biteug-map-home-section {
    position: relative;
}

#find-me-section {
    /* display: none; */
}

#find-me-pin {
    font-family: 'futura-pt', sans-serif;
    display: none;
      width: 314px;
      height:56px;
      position:absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 72px;
      line-height: 16px;
    .find-me-pin-div {
        background: @poochieBlue;
        float: left;
        color: #fff;
        font-size: 22px;
        border: 2px solid @poochieBlue;
        a, a:focus {
            padding: 10px 12px;
            display: block;
            color: inherit;
        }
        a:hover {
            color: @poochieBlue;
            background: #fff;
        }
    }
    #find-me-pin-text {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0 1px;
        border: 2px solid @poochieBlue;
        span, span:focus {
            padding: 13px 26px;
            display: block;
            color: inherit;
        }
    }
}

#find-me-pin-icon {
    display: none;
    width: 35px;
    height: 50px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    top: 96px;
    img {
        width: 100%;
        height: auto;
    }
}

#find-me-addressbox {
    font-family: 'futura-pt', sans-serif;
    display: none;
      width: 313px;
      position:absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 250px;
      line-height: 16px;
      border: 1px solid @poochieBlue;
      background: #fff;
      color: #555;
      font-size: 14px;

    #find-me-addressbox-pencil {
        padding: 8px 10px;
        font-size: 22px;
        color: #999;
        a:hover, a:focus {
            color: #555;
        }
    }

    #find-me-pin-check {
        padding: 8px 10px;
        font-size: 22px;
        color: #999;
        a:hover, a:focus {
            color: #555;
        }
    }

    .find-me-addressbox-div {
        float: left;
        padding: 5px 10px;
        width: 40px;
    }
    #find-me-addressbox-text {
        text-align: center;
        width: 230px;
        .find-me-addressbox-text-title {
            color: @poochieBlue;
            font-size: 10px;
            text-transform: uppercase;
            display: block;
        }
        .find-me-addressbox-text-content {
            width: 100%;
            overflow: hidden;
            font-size: 12px;
            font-family: 'gotham-bok', sans-serif;
            overflow-y: hidden;
            overflow-x: auto;
            white-space: nowrap;
            display: block;
        }
    }
}

.small-triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: @poochieBlue transparent transparent transparent;
    /* border-style: inset; */
    -webkit-transform:rotate(360deg);
    margin: 0 auto;
}

#cannotdeliver {
    display: none;
    color: @poochieBlue;
    font-family: "futura-pt",sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    max-width: 90%;
    width: 540px;
    margin: 30px auto 0;
    h2 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}

#cannotdeliver-email {
    margin-top: 20px;
}

.bitebug-button-go-address {
    border: 2px solid @poochieRed;
    color: #fff;
}

.bitebug-button-go-address:hover, .bitebug-button-go-address:focus {
    background: #fff;
    color: @poochieRed;
    border: 2px solid @poochieRed;
}

input#enter_address, input#enter_email_address {
    border: 2px solid #fff;
    box-shadow: none;
    background-color: #ffffff;
    font-size: 12px;
    font-family: "gotham-bok",sans-serif;
}

input.enter_address_next {
    background: url('../images/location-icon.png') no-repeat 0 0 #ffffff;
    background-size: auto 100%;
    padding-left: 30px;
}

#bitebug-homepage-delivery-time-block-2 {
    background-color: #fff;
    display: none;
    left: 0;
    margin: 0 auto;
    max-width: 280px;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 298px;
}

#go-to-menu-btn {
    display: none;
    button {
        padding: 6px 10px;
    }
}

.bitebug-order-review {
    font-family: "gotham-bok",sans-serif;
    margin: 34px 0;
    color: #555555;
}

.bitebug-order-review-sections {
    margin-top: 12px;
    padding: 20px 0px 15px 0px;
    border-top: 1px solid #999999;
    position: relative;
}

p#bitebug-review-name {
    margin-bottom: 10px;
}

p.bitebug-review-address {
    line-height: 22px;
}

a.bitebug-edit-details {
    color: @poochieRed;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 6px;
    display: block;
}

a.bitebug-edit-details:hover {
    text-decoration: none;
}

#bitebug-send-to-friend-gift {
    position: absolute;
    top: 24px;
    height: 55px;
    left: 105%;
    width: 100%;
}

#bitebug-send-gift-red-triangle {
    /* Red triangle */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27.5px 36px 27.5px 0;
    border-color: transparent @poochieRed transparent transparent;
    -webkit-transform:rotate(360deg);
}

#bitebug-send-gift-text {
    background: @poochieRed;
    color: #ffffff;
    font-weight: 400;
    font-family: "montserrat", sans-serif;
    padding: 10px 18px;
    text-transform: uppercase;
    height: 100%;
}

#bitebug-send-gift-incon {
    background: @poochieRed;
    color: #ffffff; 
    display: block;
    height: 100%;
    font-size: 45px;
    padding: 0 14px 0px 0px;
}

#bitebug-send-to-friend-gift-mobile {
    display: none;
    margin-bottom: 14px;
}

#bitebug-send-gift-text-mobile {
    background: @poochieRed;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    font-family: "montserrat", sans-serif;
    padding: 2px 2px;
    text-transform: uppercase;
    text-align: center;
    span {
        display: inline-block;
        vertical-align: top;
        padding: 10px 5px;
    }
    .fa {
        font-size: 30px;
        padding: 2px 0;
    }
}

#bitebug-send-gift-red-triangle-mobile {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 18px 0px;
    border-color: @poochieRed transparent transparent transparent;
    margin: 0 auto;
}

#bitebug-send-to-friend-check {
    color: @poochieBlue;
    label {
        font-family: "gotham-bok",sans-serif;
        font-weight: 600;
    }
}

#bitebug-send-to-friend-fields {

    input[type=text] {
        margin-top: 8px;
        float: left;
        width: 48%;
        padding: 8px;
        margin-bottom: 0;
    }

    .input-first {
        margin-right: 4%;
    }
}

/* Home page map stuff */
#text-write-position {
    background: #fff none repeat scroll 0 0;
    color: #555;
    display: none;
    font-family: "futura-pt",sans-serif;
    font-size: 14px;
    left: 0;
    line-height: 16px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 250px;
    width: 313px;
}

#input-write-position {
    border: 1px solid #202161;
    background-color: #ffffff;
    width: 274px;
    padding: 11px 8px;
    margin-bottom: 0;
}

#input-write-btn {
    background: #202161 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 38px;
    border: 2px solid #202161;
}

#input-write-btn:hover {
    background: #fff;
    color: #202161;
}

.set-time-msg {
    background: rgba(255,255,255,0.7);
    color: #555;
    display: block;
    font-family: "futura-pt",sans-serif;
    font-size: 12px;
    left: 0;
    line-height: 16px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 313px;
    text-align: center;
    top: 298px;
    padding: 10px;
}

#set-time-msg-map-error {
    display: none;
    h2 {
        font-size: 12px;
        color: @poochieRed;
        text-transform: uppercase;
    }
}

#set-time-msg-map-ok {
    display: none;
    h2 {
        font-size: 12px;
        color: @poochieBlue;
        text-transform: uppercase;
    }
}

.bitebug-modal-generic {

    .modal-content {
        width: 100%;
    }

    .modal-title {
        font-family: 'montserrat', sans-serif;
        font-size: 13px;
    }

    .bitebug-label-dashboard {
        font-size: 12px;
    }
}

#basket-saved-places {
    display: none;
}

a#bitebug-your-saved-address-link {
    color: @poochieRed;
    font-family: "gotham-bok",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 13px;
    text-decoration: underline;
}

a#bitebug-your-saved-address-link:hover {
    text-decoration: none;
}

.order-substitution, .order-substitution-mobile {
    font-family: "gotham-bok",sans-serif;
    font-size: 10px;
    padding-right: 13px;
    margin-top: 5px;
}

.order-substitution-mobile {
    display: none;
    margin-bottom: 9px;
}

.bitebug-image-and-pop-up-container-product-single-page {
    position: relative;
    font-family: "gotham-bok","Open Sans",sans-serif;

    .bitebug-arrows-img-products {
        width: 18%;
    }

    .bitebug-text-popo-up-img-product {
        margin-top: 0;
    }
}

.gender-check {
    font-family: "gotham-bok",sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 10px;
}

/* AmaranJS notifications style */
.amaran.awesome {
    color: @poochieBlue;
    font-size: 14px;
    box-shadow: 1px 1px 4px rgb(153, 153, 153);
    font-weight: 400;
    font-family: "gotham-bok","Open Sans",sans-serif;
    background: @poochieLightBlue;
}

.amaran.awesome.ok .icon {
    background-color: transparent;
    color: @poochieRed;
}

.amaran.awesome.ok p.bold {
    font-weight: 600;
}
/* END AmaranJS */