@greytext: rgb(70, 71, 73);
@bluetext: #202161;
@poochieBlue: rgb(32, 33, 97);
@poochieRed: rgb(235, 18, 51);
@poochieLightBlue: #e7f2ee;
@poochieLightGrey: #cccccc;
@poochieGreen: #5CB85C;

.bitebug-btn-red {
    color: #FFF;
    background-color: @poochieRed;
    border: 2px solid @poochieRed;
    text-transform: uppercase;
    padding: 0px 14px;
    font-weight: 500;
    height: 28px;
    font-size: 12px;
    vertical-align: top;
    font-family: 'futura-pt', sans-serif;
}

.bitebug-btn-red:hover {
    background-color: #ffffff;
    color: @poochieRed;
}

.bitebug-btn-red[disabled] {
    opacity: 0.6;
    cursor: default;
}

.bitebug-btn-red[disabled]:hover {
    background-color: @poochieRed;
    color: #ffffff;
    cursor: default;
}

.bitebug-btn-blue {
    color: #FFF;
    background-color: @poochieBlue;
    border: 2px solid @poochieBlue;
    text-transform: uppercase;
    padding: 0px 14px;
    font-weight: 500;
    height: 28px;
    font-size: 12px;
    vertical-align: top;
    font-family: 'futura-pt', sans-serif;
}

.bitebug-btn-blue:hover {
    background-color: #ffffff;
    color: @poochieBlue;
}

.bitebug-btn-blue[disabled] {
    opacity: 0.6;
    cursor: default;
}

.bitebug-btn-blue[disabled]:hover {
    background-color: @poochieBlue;
    color: #ffffff;
    cursor: default;
}

.bitebug-btn-green {
    color: #FFF;
    background-color: @poochieGreen;
    border: 2px solid @poochieGreen;
    text-transform: uppercase;
    padding: 0px 14px;
    font-weight: 500;
    height: 28px;
    font-size: 12px;
    vertical-align: top;
    font-family: 'futura-pt', sans-serif;
}

.bitebug-btn-green:hover {
    background-color: #ffffff;
    color: @poochieGreen;
}

.bitebug-btn-green[disabled] {
    opacity: 0.6;
    cursor: default;
}

.bitebug-btn-green[disabled]:hover {
    background-color: @poochieGreen;
    color: #ffffff;
    cursor: default;
}

.text-right {
    text-align: right;
}

.bitebug-form-style {
    border: none;
    background-color: #e5f2ee;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bitebug-button-standard-style {
    color: rgba(235, 18, 51, 1);
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid;
    background-color: #fff;
    font-family: futura-pt;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

.bitebug-button-full-standard-style {
    float: right;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    border: none;
    font-family: futura-pt;
    background-color: rgba(235, 18, 51, 1);
    padding: 5px 15px;
    font-weight: 500;
    font-size: 13px;
}

.form-horizontal .form-group .bitebug-label-input {
    font-family: futura-pt;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    float: left;
    width: 21%;
    margin-left: 10px;
}

.bitebug-button-standard-style:focus {
    outline: 0;
}

#bitebug-button-add-product {
    .bitebug-button-standard-style;
    margin-top: 10px;
}

#bitebug-button-create-user {
    .bitebug-button-standard-style;
    float: right;
}

.panel .bitebug-form-control {
    .bitebug-form-style;
}

.bitebug-button-customer-page {
    .bitebug-button-full-standard-style;
    margin-bottom: 15px;
}

.panel .bitebug-form-control-2 {
    width: 74%;
}

.panel .bitebug-form-control-3 {
   width: 48%;
}

.form-horizontal .form-group .bitebug-label-input-2 {
    width: 42%;
}

form.ls_form input:focus, form.ls_form input.active, form.ls_form select:focus, form.ls_form select.active, form.ls_form textarea:focus, form.ls_form textarea.active, input.bootbox-input:focus {
    box-shadow: none;
    border-color: #fff;
    outline: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    outline: none;
}

.bitebug--add-product > button {
    background: #e5f2ee;
    border-radius: 0px;
    border: none;
    color: #777;
}

.bitebug--add-product > button:hover, .bitebug--add-product > button:focus {
    background: #e5f2ee;
    border: none;
    color: #777;
}

.bitebug-button-add-product {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #e5f2ee !important;
}

.bootstrap-select.btn-group .dropdown-menu li {
    outline: 0;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    outline: 0;  
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0; 
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;  
}

#left-navigation .user-image {
    margin: 0 auto;
    width: initial;
}

#bitebug-logo-back-left-sidebar {
    display: block;
    height: auto;
    margin: 0 auto 10px;
    width: 100px;
}

.humane ul, .humane-jackedup ul {
    list-style: outside disc;
}

.rnd-passwd {
    padding-left: 25%;
    span {
        font-weight: bold;
    }
}

.product-image {
    text-align: center;
    img {
        max-width: 200px;
    }
}

#map-canvas-supplier {
    height: 400px;
}

.tdprice {
    min-width: 70px;
}

.orders-table .table > thead > tr > th {
    font-size: 11px;
}

ul.order-status {
    font-family: "Armata",sans-serif;
    font-size: 15px;
    line-height: 32px;
    li {
        color: #565656;
        .btn {
            font-size: 10px;
            padding: 4px 10px;
        }
    }
    li.completed {
        color: #9a9a9a;
        text-decoration: line-through;
    }
    li.completed :before {

    }
}

.panel-footer-bitebug {
    .btn {
        font-size: 12px;
        padding: 4px 10px;
    }
}

.bitebug-copyright-drivers-orders {
    margin-top: 20px;
}

#drivers-order-section {
    margin-top: 15px;
}

.drivers-row-order-completed {
    background: @poochieGreen;
}

.drivers-row-order-completed .bitebug-title-order-drivers {
    color: #ffffff;
}