@media (max-width: 1345px) {

	#bitebug-send-to-friend-gift {
		height: 45px;
	}

	#bitebug-send-gift-text {
		font-size: 10px;
	}

	#bitebug-send-gift-red-triangle {
		border-width: 22.5px 11px 22.5px 0px;
	}

	#bitebug-send-gift-incon {
		font-size: 28px;
		padding: 4px 8px 0px 0px;
	}
}

@media (max-width: 1180px) {
	#bitebug-send-to-friend-gift {
		display: none;
	}

	#bitebug-send-to-friend-gift-mobile {
		display: block;
	}
}

@media (min-width: 767px) and  (max-width: 991px) {
	#bitebug-send-to-friend-fields {

	    input[type=text] {
	        margin-top: 8px;
	        float: none;
	        width: 100%;
	        padding: 8px;
	        margin-bottom: 0;
	    }

	    .input-first {
	        margin-right: 0;
	    }
	}

	#bitebug-send-to-friend-check label {
	    font-size: 11px;
	}
}

@media (max-width: 991px) {

	.hidden-tablet {
		display: none;
	}

	#bitebug-user-details-nav {
		li {
			display: table-cell;
			width: 1%;
			a {
			 padding: 10px 7px;
			 font-size: 14px;
			 line-height: 17px;
			 white-space: nowrap;
			 margin-bottom: 0;
			}
		}
	}

	#cannotdeliver {
		font-size: 15px;
		margin: 0px auto 0;
	}

	#cannotdeliver h2 {
		font-size: 20px;
	}

	.bitebug-basket-right-side-first-row {
		padding: 0 15px;
	}
	
}

@media (max-width: 767px) {

	.product-actions {
		float: none;
		width: 100%;
	}

	.btnaddcontainer {
		text-align: left;
	}

	#single-add-to-basket {
		left: 0;
		margin-top: 8px;
	}

	#errorsmobile {
		display: block;
	}

	.bitebug-label-dashboard {
		float: none;
	}

	.bitebug-checkout-input-withbtn {
		width: 90%;
	}

	#cannotdeliver {
		font-size: 15px;
		margin: 0px auto 0;
		margin-top: -10px;
	}

	#cannotdeliver h2 {
		font-size: 20px;
	}

	.order-substitution {
		display: none;
	}

	.order-substitution-mobile {
	    display: block;
	}
}