.bitebug-form-style {
  border: none;
  background-color: #e5f2ee;
  border-radius: 0px;
  box-shadow: none;
}
.bitebug-button-standard-style {
  color: #eb1233;
  text-transform: uppercase;
  border-radius: 0px;
  border: 2px solid;
  background-color: #fff;
  font-family: futura-pt;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}
.form-horizontal .form-group .bitebug-label-input {
  font-family: futura-pt;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  float: left;
  width: 112px;
  margin-left: 10px;
}
.bitebug-button-standard-style:focus {
  outline: 0;
}
#bitebug-button-add-product {
  color: #eb1233;
  text-transform: uppercase;
  border-radius: 0px;
  border: 2px solid;
  background-color: #fff;
  font-family: futura-pt;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
}
.panel .bitebug-form-control {
  border: none;
  background-color: #e5f2ee;
  border-radius: 0px;
  box-shadow: none;
  width: 415px;
}
.panel .bitebug-form-control-2 {
  width: 137px;
}
form.ls_form input:focus,
form.ls_form input.active,
form.ls_form select:focus,
form.ls_form select.active,
form.ls_form textarea:focus,
form.ls_form textarea.active,
input.bootbox-input:focus {
  box-shadow: none;
  border-color: #fff;
  outline: none;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
  outline: none;
}
.bitebug--add-product > button {
  background: #e5f2ee;
  border-radius: 0px;
  border: none;
  color: #777;
}
.bitebug--add-product > button:hover,
.bitebug--add-product > button:focus {
  background: #e5f2ee;
  border: none;
  color: #777;
}
.bitebug-button-add-product {
  box-shadow: none !important;
  background-color: #e5f2ee !important;
}
.bootstrap-select.btn-group .dropdown-menu li {
  outline: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  outline: 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}
#left-navigation .user-image {
  margin: 0 auto;
  width: initial;
}
#bitebug-logo-back-left-sidebar {
  display: block;
  height: auto;
  margin: 0 auto 10px;
  width: 100px;
}


/*# sourceMappingURL=app_admin.css.map */