@media (min-width:992px) {
	.bitebug-product-img-container {
		width: 20%;
	}
}

@media(min-width: 767px) {
	.phone-nav-box {
		border-top: 1px solid;
	}
}

@media (max-width:767px) {
	.bitebug-img-product-suppliers-orders {
		height: 100%;
  		width: auto;
	}
	
	.bitebug-ordered-product-text-block {
		width: inherit;
	}
	
	.panel .bitebug-form-control-settings {
		width: 100%;
	}
}
