body {
	font-family: futura-pt;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

button:focus {
	outline: none;
}

.bitebug-navigation {
	background: rgba(32, 33, 97, 1);
}

#left-navigation {
	background: rgba(32, 33, 97, 1);
}

ul.mainNav {
	background: rgba(32, 33, 97, 1);
}

ul.mainNav ul li a.active {
	background: rgba(32, 33, 97, 1);
}

#min-wrapper {
	background: rgba(32, 33, 97, 1);
}

ul.mainNav ul {
	background: rgba(32, 33, 97, 1);
}

ul.mainNav li a {
	color: #fff;
	font-family: futura-pt;
}

ul.mainNav li a span {
  	font-size: 14px;
} 

ul.mainNav ul li a:hover {
	background: rgba(235, 18, 51, 1);
} 

.badge-red {
	background: rgba(235, 18, 51, 1);
}

#left-navigation .social-icon li a {
	color: rgba(235, 18, 51, 1);
}

#bitebug-logo-back {
	width: 165px;
}

table#ls-editable-table tbody tr td:hover {
	background: none;
}

ul.mainNav li a:hover {
	background: rgba(235, 18, 51, 1);
}

.bitebug-grey {
	color: #a0a0a0;
}

.ls-table .table > thead > tr > th {
	vertical-align: top;
}

.filter-options > .bitebug-button-refine-search-products {
	color: rgba(235, 18, 51, 1);
	text-transform: uppercase;
	border: 1px solid;
	background-color: #fff;
	padding: 5px 15px;
	font-family: futura-pt;
	-webkit-box-shadow: none;
  	box-shadow: none;
}

.filter-options > .bitebug-button-refine-search-products:hover {
	color: rgba(235, 18, 51, 1);
	border: 1px solid;
}

.ls-gallery-search input:focus, .ls-gallery-search select {
	outline: none;
}

#bitebug-add-new-product-products-page {
	color: #fff;
	background: rgba(235, 18, 51, 1);
	border: none;
	text-transform: uppercase;
	padding: 0px 23px 1px;
	font-weight: 500;
	height: 35px;
	font-size: 11px;
	vertical-align: top;
	font-family: futura-pt;
}

#bitebug-add-new-product-products-page:focus {
	outline: none;
}

textarea.form-control.bitebug-form-control {
  	resize: none;
}

#bitebug-insert-picture-add-product-page-text {
	color: #202161;
  	font-size: 23px;
  	font-weight: 400;
  	font-family: futura-pt;
	margin-top: 0;
}

#ls-wrapper {
	margin-top: 0;
}

#file {
  	color: #fff;
  	background: rgba(235, 18, 51, 1);
  	border: none;
  	text-transform: uppercase;
  	padding: 6px 20px;
  	font-weight: 400;
  	height: 28px;
  	font-size: 12px;
  	text-align: center;
  	width: 150px;
  	margin: 0 auto; 
  	cursor: pointer;
}

.bitebug-products-description-products-page {
	height: 70px;
}

.bitebug-category-product-products-page {
	font-size: 13px;
}

.phone-nav-box {
	background: #202161;
	border-top: 1px solid;
}

.customHtml {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    bottom: 0;
    color: #fff;
    font-family: Arial,sans-serif;
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 9;
}

.top-navigation ul li a:hover {
	background: rgba(235, 18, 51, 1);
}

.breadcrumb {
	background-color: #ebebeb;
}

.panel-default > .panel-heading {
	background-color: #ebebeb;
}

.bitebug-up-panel-section {
  	text-align: center;
  	background: rgba(231, 241, 238, 1);
  	padding: 25px 0px;
  	margin-bottom: 20px;
}

.bitebug-dashboard-title {
  	color: rgba(32, 33, 97, 1);
  	font-family: futura-pt;
  	font-weight: 400;
  	font-size: 23px;
  	margin-bottom: 15px;
}

.bitebug-main-img-dashboard {
  	width: 130px;
  	height: 130px;
  	border-radius: 150px;
  	-webkit-border-radius: 150px;
  	-moz-border-radius: 150px;
}

.bitebug-text-below-main-image-dashboard {
  	margin-top: 11px;
  	font-size: 14px;
}

.bitebug-title-section-right-side-dashboard {
  	color: rgba(32, 33, 97, 1);
  	text-transform: uppercase;
  	font-weight: 500;
  	font-size: 14px;
  	margin-bottom: 12px;
}

.bitebug-label-information-customer {
  	float: left;
  	width: 66%;
  	font-size: 14px;
  	border: none;
  	background-color: #E7F2EE;
  	padding: 3px 0px 4px 11px;
  	height: 27px;
}

.bitebug-edit-button-label-information-customer {
	float: left;
  	width: 13%;
  	text-align: center;
  	margin-bottom: 0px;
  	height: 27px;
  	padding-top: 3px;
  	margin-left: 1%;
  	cursor: pointer;
 	border: 1px solid #ddd;
}

.bitebug-input-field-information-customer {
	float: left;
  	width: 66%;
  	display: none;
}

.bitebug-times-button-label-information-customer {
	float: left;
  	width: 13%;
  	text-align: center;
  	margin-bottom: 0px;
  	height: 27px;
  	padding-top: 3px;
  	margin-left: 1%;
  	display: none;
    cursor: pointer;
    border: 1px solid #ddd;
}

.bitebug-label-information-customer-tag {
	width: 20%;
	float: left;
}

#bitebug-label-dashboard-profile-photo-id-desktop {
  	margin-top: 11px;
}

.bitebug-label-dashboard-profile-photo {
  	width: initial;
  	margin-right: 10px;
}

.bitebug-label-dashboard {
  	font-weight: 400;
  	width: 25%;
  	float: left;
  	padding-top: 8px;
  	font-size: 14px;
}

img#blah {
  	width: 60px;
  	height: 60px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	border-radius: 50%;
}

.bitebug-custom-file-upload {
  	font-family: gotham-bok;
  	font-size: 12px;
  	color: #aaa;
  	font-weight: 400;
  	text-decoration: underline;
  	cursor: pointer;
  	padding-left: 10px;
}

#imgInp {
  	display: none;
}

.bitebug-border-right {
	border-right: 1px solid #666;
}

.bitebug-border-bottom {
	border-bottom: 1px solid #555;	
}

.bitebug-big-information-container {
	margin-bottom: 15px;
}

.bitebug-divider-line {
	height: 2px;
  	background: #e7f2ee;
  	margin-bottom: 24px;
}

.bitebug-subtitle-customer-page {
  	color: rgba(235, 18, 51, 1);
  	margin-top: 0;
  	font-size: 12px;
  	margin-bottom: 15px;
}

.bitebug-information-block-customer-page {
  	margin-bottom: 10px;
}

.input-field-container-dashboard {
  	padding-top: 20px;
}

.bitebug-supplier-orders-container {
	text-align: center;
}

.bitebug-copy-right-suppliers-orders {
	text-align: center;
	padding-bottom: 22px;
}

.bitebug-poochie-logo-intermediate-page {
	margin: 30px 0px;
}

.bitebug-fa-minus-circle-product-increment {
	color: rgba(235, 18, 51, 1);
  	font-size: 16px;
  	background-color: #f6f6f6;
  	border: none;
}

.bitebug-span-number-quantity-product-increment {
  	padding: 0px;
}

.bitebug-fa-plus-circle-product-increment {
  	color: rgba(235, 18, 51, 1);
  	font-size: 16px;
  	background-color: #f6f6f6;
  	border: none;
}

.bitebug-img-product-suppliers-orders {
	display: inline-block;
	vertical-align: top;
	float: left;
	width: 30%;
}

.bitebug-img-product-suppliers-orders-modal {
	display: inline-block;
	vertical-align: top;
	float: left;
	width: 40%;
}

.bitebug-ordered-product-text-block {
	display: inline-block;	
	vertical-align: top;
	float: left;
	width: 70%;
	text-align: left;
  	padding-left: 20px;  
  	padding-top: 15px;
  	height: 150px;
}

.bitebug-ordered-product-text-block-modal {
	display: inline-block;	
	vertical-align: top;
	float: left;
	width: 60%;
	text-align: left;
  	padding-left: 10px;  
}

.bitebug-title-SO {
	color: #202161;
  	font-size: 21px;
  	font-weight: 500;
  	line-height: 27px;
  	font-family: futura-pt;
  	text-transform: uppercase;
  	margin-top: 10px;
}

.bitebug-name-product-SO {
	font-weight: 400;
  	font-size: 18px;
  	line-height: 29px;
  	color: #202161;
  	display: inline-block;
  	font-family: futura-pt;
}

.bitebug-name-product-SO-modal {
	font-weight: 400;
  	font-size: 18px;
  	line-height: 29px;
  	color: #202161;
  	display: inline-block;
  	font-family: futura-pt;
}

.bitebug-quantity-product-SO {
  	font-size: 15px;
  	margin-bottom: 4px;
}

.bitebug-name-product-replaced-SO {
  	display: inline-block;
  	float: left;
  	text-align: left;
  	width: 50%;
  	font-size: 16px;
  	padding-top: 3px;
}

.bitebug-increment-box-container {
  	float: left;
  	width: 50%;
}

.bitebug-left-col-SO {

}

.bitebug-center-col-SO {

}

.bitebug-right-col-SO {

}

.bitebug-button-end-row-SO {
  	width: 350px;
  	border: none;
  	color: #fff;
  	text-transform: uppercase;
  	padding: 5px;
  	font-size: 16px;
  	background-color: #5cb85c;
  	border-top: 1px solid #4cae4c;
  	border-bottom: 1px solid #4cae4c;
  	margin: 0 auto;
}

.bitebug-row-product-SO {
	margin-bottom: 20px;
	background-color: #f6f6f6;
  	padding-top: 20px;
  	margin-top: 25px;
}

.bitebug-block-product-for-replace {
  	padding-top: 5px;
}

.bitebug-no-padding {
	padding: 0;
}

.bitebug-col-title-SO {
	border-top: 1px solid #555;
}

.bitebug-no-need-replacement-text {
  	color: #202161;
  	font-size: 23px;
  	font-weight: 500;
  	line-height: 27px;
  	font-family: futura-pt;
  	margin-top: 60px;
}

.bitebug-button-end-row-SO-done {
	width: 350px;
  	border: none;
  	color: #fff;
  	text-transform: uppercase;
  	padding: 5px;
  	font-size: 16px;
  	background-color: #202161;
  	border-top: 1px solid #202161;
  	border-bottom: 1px solid #202161;
}

.bitebug-title-order {
  	font-size: 17px;
  	margin-bottom: 10px;
}

.bitebug-button-replacement-SO {
  	border: none;
  	color: #fff;
  	text-transform: uppercase;
  	padding: 3px 12px;
  	font-size: 12px;
  	background-color: #eb1233;
  	border-top: 1px solid #eb1233;
  	border-bottom: 1px solid #eb1233;
  	position: absolute;
  	bottom: 5px;
}

.bitebug-poochie-logo-intermediate-page-drivers-orders-container {
}

.bitebug-poochie-logo-intermediate-page-drivers-orders {
	width: 130px;
  	height: 130px;
  	border-radius: 150px;
  	-webkit-border-radius: 150px;
  	-moz-border-radius: 150px;
  	margin: 15px auto;
}

.bitebug-quantity-product-SO-red {
	color: #eb1233;
}

.bitebug-quantity-product-SO-green {
	color: #5cb85c;
}

.bitebug-button-end-row-SO-after-replacement {
	display: none;
}

.bitebug-subtitle-driver-orders {
	color: #202161;
  	font-size: 21px;
  	font-weight: 500;
  	line-height: 27px;
  	font-family: futura-pt;
  	text-transform: uppercase;
  	margin-top: 30px;
}

.bitebug-subtitle-driver-orders > a {
  color: #202161;
  text-decoration: underline;
}

#bitebug-btn-collected {
  margin-top: 12px;
}

#bitebug-button-order-complete-drivers-orders {
  	color: #fff;
  	background: rgba(235, 18, 51, 1);
  	border: none;
  	text-transform: uppercase;
  	padding: 0px 25px 0px;
  	font-weight: 500;
  	height: 28px;
  	font-size: 14px;
  	vertical-align: top;
  	font-family: futura-pt;
  	 margin-bottom: 30px;
}

.bitebug-get-information-button-order-drivers {
  	color: #fff;
  	background: #202161;
  	border: none;
  	text-transform: uppercase;
  	padding: 0px 18px 0px;
  	font-weight: 500;
  	height: 28px;
  	font-size: 12px;
  	vertical-align: top;
  	font-family: futura-pt;	
}

#bitebug-button-order-dispatched-drivers-orders {
	color: #fff;
  	background: rgba(235, 18, 51, 1);
  	border: none;
  	text-transform: uppercase;
  	padding: 0px 18px 0px;
  	font-weight: 500;
  	height: 28px;
  	font-size: 12px;
  	vertical-align: top;
  	font-family: futura-pt;
}

.bitebug-last-row-orders-drivers {
	margin-top: 20px;
	text-align: center;
}

.bitebug-container-orders-drivers {
	max-width: 500px;
	text-align: center;
  	background-color: #f3f3f3;
}

.bitebug-title-order-drivers {
	text-align: center;
}

.bitebug-span-info-para-drivers {
	color: rgba(235, 18, 51, 1);
}

.bitebug-block-product-supplier-orders {
 	position: relative;
 	height: 150px;
}

.bitebug-block-product-supplier-orders-modal {
 	position: relative;
}

.bitebug-col-SO {
	margin-bottom: 20px;
}

#bitebug-modal-suppliers-ordersLabel {
  	text-align: center;
}

.bitebug-col-SO-modal {
	margin-bottom: 20px;
}

.bitebug-modal-content-SO {
	box-shadow: none;
  	border-radius: 0px;
  	border: none;
}

.bitebug-modal-title-product-SO {
	color: rgba(235, 18, 51, 1);
}

.bitebug-replacement-button-modal-SO {
  	color: #fff;
  	text-transform: uppercase;
  	padding: 2px 15px;
  	font-size: 12px;
  	background-color: #202161;
  	border-top: 1px solid #202161;
  	border-bottom: 1px solid #202161;
    border: 2px solid #202161;
  	/* margin-top: 15px; */
}

.bitebug-replacement-button-modal-SO:hover {
  border: 2px solid #202161;
  color: #202161;
  background-color: #fff;
}

.bitebug-button-replacement-SO-replaced {
  border: 2px solid #5cb85c;
  background-color: #5cb85c;
}

.bitebug-button-replacement-SO-replaced:hover {
  border: 2px solid #5cb85c;
  background-color: #ffffff;
  color: #5cb85c;
}

.bitebug-button-replacement-SO-replaced[disabled] {
  opacity: 0.6;
}

.bitebug-button-replacement-SO-replaced[disabled]:hover {
  border: 2px solid #5cb85c;
  background-color: #5cb85c;
  color: #ffffff;
}

.bitebug-button-end-row-SO-confirm {
	border: none;
  	color: #fff;
  	text-transform: uppercase;
  	padding: 5px 15px;
  	font-size: 13px;
  	background-color: #eb1233;
  	border-top: 1px solid #eb1233;
  	border-bottom: 1px solid #eb1233;
  	margin: 10px auto;
}

.bitebug-modal-footer-SO {
	text-align: center;
}

.modal-body-modal-SO {
	background-color: #f6f6f6;
}

.bitebug-button-confirm-all-replacement {
	border: none;
  	color: #fff;
  	text-transform: uppercase;
  	padding: 3px 12px;
  	font-size: 15px;
  	background-color: #eb1233;
  	border-top: 1px solid #eb1233;
  	border-bottom: 1px solid #eb1233;
  	margin-bottom: 30px;
}

.bitebug-button-confirm-all-replacement-ready-to-collect {
	cursor: default;
	background-color: rgb(92, 184, 92);
	border: 2px solid rgb(92, 184, 92);
  color: #ffffff;
}

.bitebug-button-confirm-all-replacement-ready-to-collect-enabled:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid rgb(92, 184, 92);
  color: rgb(92, 184, 92);
}

.bitebug-button-confirm-all-replacement-ready-to-collect[disabled] {
  opacity: .6;
}

.bitebug-row-suppliers-info-SO {
	border-top: 1px solid #555;
}

#bitebug-button-create-coupon-id {
	margin-bottom: 15px;
}

.bitebug-button-create-coupon {
	color: #eb1233;
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid;
    background-color: #fff;
    font-family: futura-pt;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}

.bitebug-button-create-coupon:hover, .bitebug-button-create-coupon:focus, .bitebug-button-create-coupon:active {
	color: #eb1233;
	background-color: #fff;
	border: 2px solid #eb1233;
} 

.bitebug-title-settings {
	color: #202161;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    font-family: 'futura-pt', sans-serif;
}

.bitebug-button-change-settings-page {
	color: #eb1233;
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid;
    background-color: #fff;
    font-family: futura-pt;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    margin-top: 20px;
}

.bitebug-button-change-settings-page:hover {
	color: #eb1233;
	border-color: #eb1233;
	background-color: #fff;
}

.panel .bitebug-form-control {
	width: 74%;
}

.form-group .bitebug-full-width {
	width: 100%;
}

.bitebug-label-input-settings {
    float: left;
    padding-top: 7px;
    padding-right: 10px;
}

.panel .bitebug-form-control-settings {
	width: 500px;
}

.bitebug-border-bottom-dashed-grey-dark {
	border-bottom: #cbc5ba dashed 1px;
}

.panel .bitebug-form-control-settings-2 {
	width: 60px;
    margin-bottom: 10px;
}

.bitebug-ls-button-group .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
	background: rgba(32, 33, 97, 1);
}

.table-manage-order > tbody > tr > td {
  	vertical-align: middle;
}

.table-manage-order .btn {
  	font-size: 11px;
}

#meta_desc_count {
  	text-align: right;
  	padding: 5px 20px;
  	margin: 0;
}

.meta_desc_count_red {
  	color: red;
}

.bitebug-button-map-container {
	text-align: center;
	padding: 15px 0px;
}

.bitebug-button-map-this-month, .bitebug-button-map-last-month, .bitebug-button-map-all-the-time {
	color: #eb1233;
    text-transform: uppercase;
    border-radius: 0px;
    border: 2px solid;
    background-color: #fff;
    font-family: futura-pt;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

.bitebug-map-container {
	padding: 0px 15px 20px 15px;
}

#myChart {
	width: 100%;
	height: 400px;
}

#myChart2 {
	width: 100%;
	height: 400px;
}