body {
  background: #202161;
  color: white;
}
body.login-screen {
  background: #202161;
}
.login-box {
  background: white;
}
.login-box .login-user-icon {
  /* border: 2px solid @poochie_blue; */
  border: none;
  /* border-radius: 75px; */
  color: #565656;
  font-size: 70px;
  height: 94px;
  line-height: 82px;
  margin: auto;
  text-align: center;
  width: 94px;
}
.login-content {
  margin-top: 34px;
}
.copy-right.big-screen {
  color: white;
}
.login-box .login-form .bootstrap-switch-label,
.login-box .forgot-pass-box .bootstrap-switch-label {
  background: white;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #202161;
  background: none;
}
.login-box .login-form .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.login-box .login-form .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.login-box .forgot-pass-box .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.login-box .forgot-pass-box .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: white;
  background: #202161;
}
.login-box .login-form .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.login-box .login-form .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.login-box .forgot-pass-box .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.login-box .forgot-pass-box .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background: #202161;
}
.login-box .login-form input,
.login-box .forgot-pass-box input {
  background: #e7f2ee;
  border: none;
}
.login-box .login-form .input-group-addon,
.login-box .forgot-pass-box .input-group-addon {
  background: #e7f2ee;
  border: none;
}
.ls-dark-btn {
  background: #eb1233;
  color: white;
}
.ls-dark-btn:hover,
.ls-dark-btn:active,
.ls-dark-btn:focus {
  background: #eb1233;
  color: white;
}
.login-box .login-form .bootstrap-switch,
.login-box .forgot-pass-box .bootstrap-switch {
  border-color: inherit;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.copy-right {
  font-family: "Armata", sans-serif;
  font-size: 11px;
}
.copy-right.big-screen {
  font-size: 11px;
}
.humane,
.humane-jackedup {
  font-family: "Armata", sans-serif;
  font-size: 13px;
}
.humane-jackedup .error-title {
  font-size: 16px;
}
.humane ul,
.humane-jackedup ul {
  list-style: outside disc;
}

/*# sourceMappingURL=bitebug-login.css.map */